[2015-10-27 10:52] bpasero opened #2 "Factor out the vscode.d.ts into its own module"
This allows others to depend on the vscode.d.ts without depending on the build and test tools.

[2015-10-27 10:53] bpasero opened #3 "Let the compile command be a real command in bin"
The compile command should be in a .bin folder and then could be called directly with "npm run script" method. The generator would then be updated to just be:

[code]

[2015-11-16 11:12] dbaeumer opened #5 "Remove bin/compile since we don't depend o n typescript anymore"

[2015-11-19 13:45] #5 closed

[2016-01-08 11:12] bpasero commented on #2
Closing in favor of the outcome of https://github.com/Microsoft/vscode/issues/970

[2016-01-08 11:12] #2 closed

[2016-01-08 11:13] bpasero commented on #3
Deferred.

[2016-01-08 11:13] #3 closed

[2016-01-26 13:09] bpasero opened #7 "no migration path for vscode.d.ts installation"
_From @jrieken on January 26, 2016 13:3_

We have a story as outlined here: https://github.com/Microsoft/vscode/issues/1881 but there is no migration path for existing users. We should provide a way to modify the `package.json` to include the needed script.

_Copied from original issue: Microsoft/vscode#2317_

[2016-02-05 15:28] daviwil opened #8 "Problem using bin/install script through a proxy"
Hi guys,

I recently switched to using the new 0.11.0 version of the VS Code extension tools which includes the new vscode.d.ts installer.  Today @andydtoma reported an issue on my repo saying that the install script isn't working from behind a proxy.  Here are the contents of his report:

---

I have cloned the project on a Win7 workstation behind enterprise proxy.
When trying to install the pack

[2016-02-05 15:35] bpasero commented on #8
@daviwil we use the request library to do the request and please check https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables for how to setup proxy support there.

[2016-02-05 16:20] daviwil commented on #8
Andy told me that the fix worked for him.  Thanks for the help!

[2016-02-05 16:20] #8 closed

[2016-02-07 02:20] lukehoban opened #9 "Breaking change (removal of vscode.d.ts) and semver"
The TravisCI Linux machine for `vscode-go` started picking up `0.10.8-pre5` recently, which doesn't include vscode.d.ts, and thus breaks the build.

https://travis-ci.org/Microsoft/vscode-go/jobs/107513941

There's a couple things that are odd here:

1. `vscode.d.ts` has been removed, but it's unclear how this is supposed to be dealt with.  It looks like there is an `npm run install` script now, b

[2016-02-07 11:15] bpasero commented on #9
@lukehoban please see https://github.com/Microsoft/vscode-docs/blob/master/release-notes/latest.md#api-consumption

It is unclear to me why npm would pick up a pre release version of a package but I have now unpublished any 0.10.8-pre releases and instead there is now 0.10.7 which is the latest version matching our old API consumption style and 0.11.0 which is for the new (breaking) style of consu

[2016-02-07 11:15] #9 closed

[2016-02-07 23:49] lukehoban commented on #9
Great - I had missed that.

Thanks - it looks like this has fixed the build in the `vscode-go` CI.

[2016-02-09 02:57] aioutecism opened #10 "Error running `node ./node_modules/vscode/bin/install`"
Hi, I just updated my extension's dependencies to `"vscode": "^0.11.0"` and appended `"post install": "node ./node_modules/vscode/bin/install"` to `scripts` in `package.json`.
I'm getting error running `npm install` which seems to be something wrong in `node ./node_modules/vscode/bin/install`.

[code]

[2016-02-09 03:00] aioutecism commented on #10
I created a branch here: https://github.com/aioutecism/amVim-for-VSCode/tree/feature/update-dependencies

BTW, the newest `yo code` got the same error.

[2016-02-09 09:33] #10 closed

[2016-02-09 09:36] bpasero commented on #10
@aioutecism great catch, fixed with 0.11.1. But I also found out that a bad tag name in the vscode repo caused this and removed that so it should even work without updating the vscode dependency.

[2016-02-09 21:38] aioutecism commented on #10
Works great now! thx!

[2016-02-18 08:57] stkb opened #11 "CODE_TESTS_WORKSPACE not used?"
Looking at the code of [/bin/test](https://github.com/Microsoft/vscode-extension-vscode/blob/8bae476df40e2ac41922ae8e694785dd20698de0/bin/test).

```CODE_TESTS_WORKSPACE``` gets assigned to ```testsWorkspace``` on lIne 20.

But ```testsWorkspace``` doesn't get used after that. I think it's meant to be used on line 33 as the first arg in the array, in place of ```testsFolder```.

[2016-02-18 18:13] stkb opened #12 "Error installing vscode.d.ts: TypeError: Object #<Object> has no method 'map'"
Since the addition of the postinstall step I've been having Travis builds failing with this error. It occasionally happens on the Linux builds, but always on the OSX builds.

Minimum repo at [stkb/vscode-extension-test](https://github.com/stkb/vscode-extension-test) and the accompanying [Travis builds](https://travis-ci.org/stkb/vscode-extension-test). I used the template ```.travis.yml``` from ht

[2016-02-20 17:22] DotJoshJohnson commented on #12
I encountered the same issue in my project. I submitted PR #13 as a proposed fix.

[2016-02-20 19:14] stkb commented on #12
@DotJoshJohnson thanks :+1:

[2016-02-22 14:37] pflannery opened #15 "Ambient modules cannot be nested in other modules or namespaces."
I'm seeing

`node_modules/vscode/vscode.d.ts(2761,16): error TS2435: Ambient modules cannot be nested in other modules or namespaces.`

when running

`node ./node_modules/vscode/bin/compile`

this causes issues for things like `vsce package` and project references to `vscode`

Is there something I'm doing wrong or is this a bug?

[2016-02-26 03:25] pflannery commented on #15
with v0.11.1 I now see

[code]

These kind of errors prevent us from testing extensions on medium's like travis. (Locally we can amend the file and the compile will work)
Would be nice to get this stable for extension testing.

[2016-02-29 09:10] bpasero commented on #11
Thanks, good catch!

[2016-02-29 09:11] bpasero commented on #12
Thanks much!

[2016-02-29 17:10] #11 closed

[2016-02-29 17:38] #12 closed

[2016-02-29 17:39] bpasero commented on #15
@pflannery which typescript version do you have installed? I wonder if the wrong typescript is being picked up?

[2016-02-29 17:48] bpasero commented on #12
I published vscode@0.11.2 that includes two changes. First I print an error if the result from GH is not an array of tags. Second, I allow you to provide a Github token from the environment because I believe this error results from GH throttling the calls to their API.

Please report back what you see as error printed from the test run now and if it is the throttling, you can provide a GH access t

[2016-02-29 19:09] SamVerschueren opened #17 "vscode.raw.d.ts is missing"
I updated to `vscode@0.11.2` and it seems like the most important file (`vscode.raw.d.ts`) is missing :).

<img width="376" alt="screen shot 2016-02-29 at 20 07 53" src="https://cloud.githubusercontent.com/assets/1913805/13405752/4b0582dc-df20-11e5-93b5-8379f6128e73.png">
<img width="265" alt="screen shot 2016-02-29 at 20 08 00" src="https://cloud.githubusercontent.com/assets/1913805/13405751/4b04

[2016-02-29 19:15] bpasero commented on #17
@SamVerschueren that file is only needed when you create a JS only extension and is ignored in TS extensions. Do you see any issues with compiling your extension with 0.11.2?

[2016-02-29 19:18] SamVerschueren commented on #17
It shows that the `vscode` plugin could not be found.

<img width="624" alt="screen shot 2016-02-29 at 20 18 00" src="https://cloud.githubusercontent.com/assets/1913805/13406014/9a5a9024-df21-11e5-8809-6698edeadfab.png">

[2016-02-29 19:25] SamVerschueren commented on #17
My bad, it was something with `npm` I guess.

[2016-02-29 19:32] SamVerschueren commented on #17
Damn, I called to early. Can't find the reason why it is going wrong. In what file are the `vscode` type definitions defined?

[2016-02-29 19:39] bpasero commented on #17
@SamVerschueren I am not seeing that. Some ideas:
* does it happen with our new insider release only and not stable?
* does it happen with a 0.10.x release of the vscode module?

[2016-02-29 19:54] SamVerschueren commented on #17
It happens when I install a `vscode` plugin >= 0.11.x. When using `0.10.7`, nothing is wrong. Does it has something to do with using the Code editor `0.10.7` and installing `vscode@0.11.2`?

[2016-02-29 21:31] pflannery commented on #15
@bpasero The issue onlyoccurs on travis and I have 1.8.2 defined as my devDependencies.
I have windows 10 and don't get any problems running my tests.

travis fail link: https://travis-ci.org/pflannery/vscode-versionlens/builds/112650150#L183

[2016-03-01 06:15] bpasero commented on #17
@SamVerschueren can you give me steps to reproduce please.

[2016-03-01 06:17] bpasero commented on #15
@dbaeumer any ideas?

[2016-03-01 07:28] SamVerschueren commented on #17
@bpasero No problem. It occurred when I wanted to bump the version in `editorconfig-vscode`. So I'll use that as reference.

[code]

Open the project and update the `vscode` version to `^0.11.2` in the `package.json` file.

[code]

Open the project with VS Code and in my case, it can't find the module `vscode`.

[2016-03-01 10:02] bpasero commented on #17
@SamVerschueren please follow http://code.visualstudio.com/Updates#_extension-authoring

In order for consuming code@0.11.x you need to add the postinstall script:

[code]

[2016-03-01 10:02] #17 closed

[2016-03-01 10:16] SamVerschueren commented on #17
Alright, that explains. Maybe I'm missing something, but why not adding that `postinstall` hook to this package? It will be easily missed by developers. If adding the hook to this package isn't an option, it might be a good idea to add it to the `README` of the package. The VS Code documentation on the website is quite overwhelming, definitely for beginners.

In one of my packages, I use the `post

[2016-03-01 10:18] bpasero commented on #15
Found it, fixed with vscode@0.11.3

[2016-03-01 10:18] #15 closed

[2016-03-01 10:24] bpasero commented on #17
@SamVerschueren postinstall scripts are not being executed when you run "npm install" from your package. The idea is that you can make a change to the engine field and just run "npm install" to fetch a newer vscode.d.ts.

I do not think this is a big deal because all new generated extensions have this postinstall hook configured by default.

[2016-03-01 10:49] SamVerschueren commented on #17
@bpasero actually it is executed (not sure if it's new since npm@3).

![screen shot 2016-03-01 at 11 45 14](https://cloud.githubusercontent.com/assets/1913805/13424787/250631de-dfa3-11e5-82db-2d9b8bc1dc9c.png)

Which might be a cleaner solution then adding the `postinstall` hook to each individual extension. But the decision is yours to make off course :). Thanks for linking the docs btw!

[2016-03-01 10:54] bpasero commented on #17
@SamVerschueren does not seem to work for npm@2 so we stick to this solution. It also follows our pattern of other scripts we have for extensions (e.g. prepublish).

[2016-03-01 10:57] SamVerschueren commented on #17
@bpasero Alright, no problem :).

[2016-03-01 13:21] pflannery commented on #15
awesome. thanks

[2016-03-04 09:02] stkb commented on #12
@bpasero  The error was indeed the throttling, and using a GitHub token seems to have fixed it :+1:

[2016-03-04 09:08] bpasero commented on #12
@stkb nice, thanks for verifying!

[2016-03-08 04:57] pflannery opened #18 "VSCode-linux64.zip not found for 0.10.8 or 0.10.10"
when trying to set `process.env.CODE_VERSION`  to `0.10.8 or 0.10.10` VSCode-linux64.zip is not found

example link issue: https://az764295.vo.msecnd.net/public/0.10.10/VSCode-linux64.zip

[2016-03-08 07:51] SamVerschueren commented on #18
Same happens for Mac OSX, it seems that the latest version published to public is `0.10.5`. I use the following `test` script.

[code]

It's the direct link to the latest stable version for Mac OSX. Find the Linux version on the VS Code website and you should be good to go.

[2016-03-08 09:41] #18 closed

[2016-03-08 09:56] bpasero commented on #18
We did some changes with the download URL from our CDNs and I pushed a new version of the vscode module that hopefully fixes this issue.

[2016-03-08 10:17] SamVerschueren commented on #18
Works perfectly!

// Offtopic
Tests are failing on Linux however for the [`EditorConfig`](https://travis-ci.org/editorconfig/editorconfig-vscode/jobs/114476876) extension, not sure if this has something to do with it. Probably not.

[2016-03-08 10:35] bpasero commented on #18
@SamVerschueren you can always run them locally from the workspace: node ./node_modules/vscode/bin/test

[2016-03-08 17:12] pflannery commented on #18
I still cant download 0.10.10 for linux when using the commit https://az764295.vo.msecnd.net/stable/45d69357c9eb068dd8e624f5b0fe461cd2078d88/VSCode-linux64.zip

But when using the direct 0.10.10 dowload url it works. https://go.microsoft.com/fwlink/?LinkID=620884

Now I hit a new problem where the `linuxExecutable` is set to use `Code` instead of `code` and wont launch on linux. https://github.com

[2016-03-08 17:26] Tyriar opened #19 "Update linuxExecutable to use new path(s)"
*Reported by @pflannery in https://github.com/Microsoft/vscode-extension-vscode/issues/*

The executable has changed from `Code` to `code` (stable) and `code-insiders` on Linux.

https://github.com/Microsoft/vscode-extension-vscode/blob/master/bin/test#L43

[2016-03-08 17:26] Tyriar commented on #18
@pflannery created https://github.com/Microsoft/vscode-extension-vscode/issues/19, ping that issue if it needs any more details.

[2016-03-08 17:41] bpasero commented on #18
@pflannery the correct link for Linux 64 0.10.10 is: https://az764295.vo.msecnd.net/stable/5b5f4db87c10345b9d5c8d0bed745bcad4533135/VSCode-linux-x64-stable.zip

[2016-03-08 17:46] #19 closed

[2016-03-08 17:51] bpasero commented on #19
@pflannery should be ok with vscode@0.11.7

[2016-03-08 19:16] pflannery commented on #19
@bpasero thank you! works great now

[2016-03-22 15:50] felixfbecker opened #21 "Cannot find name 'Thenable'"
I have the vscode.d.ts correctly installed and picked up. But when compiling, I get the error
[code]
Thenable seems to be defined in typings/es6.d.ts, but there is no `/// <reference path="typings/es6.d.ts">` comment in vscode.d.ts

[2016-03-22 16:00] bpasero commented on #21
@felixfbecker I suspect maybe a wrong version of typescript? we now recommend to make typescript a dependency of your extension and then using the tsdk variable to point to the node_modules folder:

"typescript.tsdk": "./node_modules/typescript/lib" // we want to use the TS server from our node_modules folder to control its version

[2016-03-22 16:06] felixfbecker commented on #21
I have TS 1.8.9 installed locally as devDep. But I have excluded node_modules with `exclude` from tsconfig.json, as this is suggested in several places. All the other typings from vscode-debugprotocol etc. are picked up fine though, I assume because I are properly referenced through a `///` reference comment. Only vscode.d.ts doesn't have this comment.

[2016-03-22 17:14] bpasero commented on #21
@felixfbecker can I get access to the workspace to see this error?

[2016-03-22 18:43] felixfbecker commented on #21
To reproduce, make an empty folder with these files:
package.json
[code]
test.ts
[code]
Run `npm install` and then `npm run compile"

[2016-03-22 19:29] bpasero commented on #21
@felixfbecker there are a couple of issues with the example, to make it work:
* you will need a typings folder with the vscode-typings.d.ts pointing to the index.d.ts within the vscode module (`/// <reference path="../node_modules/vscode/typings/index.d.ts" />`)
* you will need the tsconfig.json file (see below)
* you will need to run `tsc` and not pass in a file, otherwise `tsconfig.json` gets ig

[2016-03-25 12:55] felixfbecker commented on #21
Looked at it. So I am supposed to make a reference to `/// <reference path="../node_modules/vscode/typings/index.d.ts" />` myself.

[2016-03-25 12:55] #21 closed

[2016-04-01 07:51] craigb commented on #18
Hey guys, does this package support development in windows? Looking at the test script, I only see references to linux or darwin binaries.

[2016-04-01 09:11] bpasero commented on #18
The integration tests are currently not supported on Windows. You can of course write your own mocha tests that run headless.

[2016-04-09 06:57] #7 closed

[2016-04-15 05:28] aioutecism opened #22 "1.0.0's typing file is empty"
Having `engines.vscode: "^1.0.0"` in `package.json` and run a clean `npm install` will try to download typing file from https://raw.githubusercontent.com/Microsoft/vscode/1.0.0/src/vs/vscode.d.ts .
The url is wrong. And we are getting a `vscode.d.ts` with only `Not Found` in it.

[2016-04-15 05:50] bpasero commented on #22
@aioutecism I cannot reproduce on Mac. Can you please check what version of the vscode module your extension is depending on?

[2016-04-15 05:53] aioutecism commented on #22
I'm currently using `^1.0.0`.
The project is [here](https://github.com/aioutecism/amVim-for-VSCode).
You can try it on master branch.

[2016-04-15 05:54] aioutecism commented on #22
And I'm on Mac too.

[2016-04-15 06:02] bpasero commented on #22
@aioutecism can you try again?

[2016-04-15 06:19] aioutecism commented on #22
Problem solved! Thanks!

[2016-04-15 06:23] bpasero commented on #22
Ok good.

[2016-04-15 06:23] #22 closed

[2016-06-17 01:43] HookyQR opened #24 "Can't test linux (latest) on CI"
bin/test:98
get https://vscode-update.azurewebsites.net/1.2.1/linux-x64/stable is a `.tar.xz` file and the `test` command is trying to unzip it as `.zip`.

Relevant travis log part:
[code]

[2016-06-17 04:55] bpasero commented on #24
@HookyQR while we are looking into a fix, as a workaround can you specify a dependency to version 1.2.0 in your package.json? That release is still providing a zip.

[2016-06-17 07:02] Tyriar commented on #24
@HookyQR this should be working now, let us know if there's any more problems.

[2016-06-17 07:02] #24 closed

[2016-06-21 07:26] rebornix opened #25 "tsc failure"
Trying to build this extension myself but seems `tsc` fails with following errors

[code]

Is this dependent on any specific node/npm?

Another thing is we don't have Windows Platform support in this extension, which makes testing extensions in Win not possible.

[2016-06-21 08:03] bpasero commented on #25
@rebornix sorry can you clarify what you are trying to do?

[2016-06-21 08:11] rebornix commented on #25
I'm trying to hack around it and the first step is `npm install` to get dependencies installed, but ran to above failure :)

[2016-06-21 08:36] rebornix commented on #25
It turned out to be a typescript version issue, sorry for that.

[2016-06-21 08:36] #25 closed

[2016-06-21 08:46] bpasero commented on #25
Sure I was expecting that :D

[2016-06-27 18:02] chrmarti opened #26 "Pick the latest matching version"
Currently the install script picks the oldest matching version. It would make more sense to use the latest one, i.e., given the engine version "^1.0.0" one would expect that to move up to 1.2.0, 1.3.0 when these become available.

[2016-06-28 04:13] bpasero commented on #26
Sorry, but no. Later versions might have API that previous versions do not have. If your extension declares to be compatible with ^1.0.0, we can only drag in 1.0.0.

[2016-06-28 04:13] #26 closed

[2016-06-28 04:14] bpasero commented on #26
Hi Christoph btw, only saw your name now :-). Hope my comment makes sense, otherwise you can also ping me on Slack.

[2016-06-28 05:36] chrmarti commented on #26
Hey Ben, makes perfect sense. I looked at it from the wrong side :)

[2016-06-28 06:58] bpasero commented on #26
Allright 👍

[2016-07-24 04:29] ChALkeR opened #28 "graceful-fs@2 and @3 support will be removed soon"
Hi. `vscode` is currently `#110` in my [list of modules](https://gist.github.com/ChALkeR/d39b49642e02277d2292d66c2ea0bced) that would likely to be broken when https://github.com/nodejs/node/pull/6413 lands (which is anticipated to happen before v7.0).

Note that `graceful-fs@1` and `graceful-fs@4` are ok and would not be broken by this, but a `require()` on `graceful-fs@2` or `graceful-fs@3` would

[2016-07-27 19:03] PatoBeltran opened #29 "Cannot find module 'vscode'"
I'm trying to update the `vscode` npm package to use the latest one (0.11.14), but I get the error `Cannot find module 'vscode'.` when I try the next line:
[code]

I see in your code that from version `0.11.9` you added `vscode.d.ts` in your `.npmignore` (also in `.gitignore`), making it not being shipped with the package.

Before this version it was shipped and vscode was finding the module from

[2016-07-28 09:57] egamma commented on #29
Please see the answer to this question: https://code.visualstudio.com/docs/extensions/debugging-extensions#_common-questions

[2016-07-28 18:30] PatoBeltran commented on #29
Thanks you!

[2016-07-28 18:30] #29 closed

[2016-08-12 13:53] bpasero opened #30 "Allow to run integration tests on Windows"
_From @DanTup on August 12, 2016 13:28_

- VSCode Version: 1.4
- OS Version: Windows 10

I don't know if I'm doing this right, but I'm trying to set up my extension up on AppVeyor to run tests. It works fine on Jenkins (Linux and OS X) but fails on AppVeyor. I can repro on my Windows desktop.

I'm running `npm test` (I presume this is correct - it seems to do the expected thing on Linux/Mac) but I

[2016-08-12 13:53] bpasero commented on #30
Sorry, but we do currently not support running integration tests for extensions on Windows. See https://code.visualstudio.com/docs/extensions/testing-extensions

[2016-08-12 14:15] DanTup commented on #30
@bpasero Thanks for clarifying. Is this something you have planned, or are there reasons not to do it? (apologies if the complications should be obvious!)

[2016-08-12 14:17] bpasero commented on #30
If you want you can give it a shot, I do not remember the details why it fails. I think it was some electron upstream issue with Windows :-/

[2016-08-12 14:20] DanTup commented on #30
The current failure for me is caused by the test script just not handling Windows, so it's not getting as far as running (it downloads a Linux version of Code then bombs). If you happen across any info on other causes do post them here; I might have a play if I do get some time.

[2016-08-12 14:21] DanTup commented on #30
@bpasero Just to be clear - I'm trying to run my own extensions tests here, and not the Code test suite; not sure if that was obvious?

[2016-08-12 15:02] bpasero commented on #30
@DanTup yeah, if you need access to the vscode API namespace, then it will currently not work. Of course any headless mocha tests would just work fine.

[2016-08-12 15:11] DanTup commented on #30
Currently I don't use the vscode API, I can't get the tests to run at all (just the samples that call `indexOf`) because of the error in the test script?

[2016-08-12 15:22] bpasero commented on #30
This line:

`import * as vscode from 'vscode';`

requires the full VS Code environment to be there. So yes, if you  want to run the default tests, you need the setup where it calls into our test runner.

[2016-08-12 15:37] bpasero commented on #30
@DanTup I just gave it a try and I think it works on Windows but one of our own tests makes the run hang.

Let me try to see if I can make this work for normal extensions 👍

[2016-08-12 16:21] DanTup commented on #30
I understand that, but it seemed to me that it was failing before it got to execution (but I didn't investigate much).

Cool; thanks! This isn't high priority for us; I currently have no tests and our build runs on Jenkins (Linux + Mac OS X) too, but obviously it'd be nice to have the full set as we do start building tests (especially with people sending PRs).

Thanks again!

[2016-08-15 05:37] bpasero commented on #30
@joaomoreno in order for this to work I need a URL to call to download the ZIP for Windows and not the exe. Today I have a URL `https://vscode-update.azurewebsites.net/1.4.0/win32/stable` that results in the EXE being downloaded but for the tests I need the ZIP file.

Can we add a way to get the ZIP? Maybe by me sending an `Accept` header?

[2016-08-15 07:09] rebornix commented on #30
+1 for Windows support.

It stops me from running tests by cmd on Windows but since we can always run the test cases within Code, it's not a blocker.

[2016-08-15 09:17] joaomoreno commented on #30
@bpasero `https://vscode-update.azurewebsites.net/1.4.0/win32-archive/stable`

[2016-08-15 09:41] #30 closed

[2016-08-15 09:44] bpasero commented on #30
@joaomoreno thanks!

@DanTup pushed support with new vscode module update (0.11.16), let me know how it goes.

[2016-08-15 11:36] DanTup commented on #30
Awesome! Do I need to wait for the next stable build to use this?

Thanks!

[2016-08-15 11:54] bpasero commented on #30
@DanTup no, we update the vscode node module independent from releases 👍

[2016-08-15 14:39] cfjedimaster opened #31 "Issue with linting and extension code"
I have an extension (https://github.com/cfjedimaster/htmlescape-vscode) that I'm trying to publish to the store. It tests fine in Code, but when I vsce publish, I get:

Executing prepublish script 'node ./node_modules/vscode/bin/compile'...
Error: Command failed: node ./node_modules/vscode/bin/compile

Ok, it would be nice if it told me the error (grin), so I tried running the command directly:

s

[2016-08-15 14:48] bpasero commented on #31
@cfjedimaster works for me, so it must be your tsc version maybe?

[code]

[2016-08-15 14:51] cfjedimaster commented on #31
My tsc is 1.8.10. Can you upgrade to that to see if you can reproduce?

[2016-08-15 14:55] bpasero commented on #31
I updated and it still works.

[2016-08-15 15:14] cfjedimaster commented on #31
Ugh- don't know what to do. So I tried:

npm update

to see if it would refresh stuff. It did. Now when I compile I get:

src/extension.ts(6,25): error TS2307: Cannot find module 'vscode'.
test/extension.test.ts(11,25): error TS2307: Cannot find module 'vscode'.

[2016-08-15 16:38] DanTup commented on #30
Awesome; I forced the build on AppVeyor for my test branch and it just starting working. Thank you!

[2016-08-15 18:31] bpasero commented on #30
nice.

[2016-08-15 18:32] bpasero commented on #31
Maybe delete the node modules folder and try an npm install again.

[2016-08-15 18:34] cfjedimaster commented on #31
Thank you so much - that did it!

[2016-08-15 18:39] bpasero commented on #31
All issues gone?

[2016-08-15 18:46] cfjedimaster commented on #31
Yep. I do have more extension questions. They aren't "bugs" per se and I'd
feel bad posting them here. Would StackOverflow be better?

On Mon, Aug 15, 2016 at 1:39 PM, Benjamin Pasero <notifications@github.com>
wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for StrongLoop at IBM

Email : raymondcamden@gmail.com
Blog : www.r

[2016-08-16 04:11] #31 closed

[2016-08-16 04:33] rebornix commented on #30
Updated to 0.11.16 and ran tests for Vim extensions, sometimes it failed immediately with below error messages:

[code]

The content of crash checkpoint is

[code]

[2016-08-16 05:01] bpasero commented on #30
Thats weird. Btw we do run lots of extension tests for VS Code via Appveyor and they typically run fine. But since you run in a Electron environment you need to be aware of all the issues this brings (native crashes, out of memory, etc.).

[2016-08-18 13:44] gilamran opened #32 "Does not work with typescript 2, because you use Thenable"

[2016-08-18 14:15] bpasero commented on #32
@gilamran how did you set that up and what is the error?

[2016-08-18 19:42] gilamran commented on #32
@bpasero just try to compile against typescript 2... the Thenable is not there...

[2016-08-19 05:08] bpasero commented on #32
I cannot reproduce, here is what I did:
* change package.json typescript dependency to 2.0 in the extension
* delete the out folder
* use some TS 2.0 feature to make sure I am using 2.0:
[code]
* compile all

=> works

[2016-08-28 09:12] #32 closed

[2016-09-03 05:12] bpasero opened #33 "TS 2.x: Conflict of vscode node definitions with @types/node"
_From @whitecolor on September 2, 2016 10:59_

While developing extension, some modules may require node definitions they install it as dependency in `@types/node`

But then there appear many errors of duplicate indentifier:
![image](https://cloud.githubusercontent.com/assets/736697/18201847/f139c6f8-7125-11e6-8db4-f0993526f4a0.png)

If to remove `@types/node` those modules that require it, error

[2016-09-04 07:50] whitecolor commented on #33
While trying to package extension:
[code]

[2016-09-04 08:28] bpasero commented on #33
@whitecolor I assume you are using TypeScript 2.0 and their new way of pulling in d.ts files via npm @types?

[2016-09-04 08:43] whitecolor commented on #33
Yes I'm on 2.1dev here.

[2016-09-04 09:47] bpasero commented on #33
We still have to revisit extension development when using TypeScript > 1.8. For now we do not officially support it, even though it seems to work in most cases unless you use the new typings system.

[2016-09-04 09:59] whitecolor commented on #33
Well, thanks anyway, hope you will fix it soon,  will try to workaround it for now. :ok_hand:

[2016-09-05 04:59] bpasero opened #34 "Running tests from command line shows no output from test runner"
_From @DanTup on September 4, 2016 16:19_

- VSCode Version: 1.4
- OS Version: Windows 10

We have tests running fine on AppVeyor, just by doing this:

[code]

Everything works just great! However, I want to run the same on my local machine (I'm trying to see if I can get coverage reports, so it'll need a lot of faffing around) but I get this:

[code]

The only significant difference between my ma

[2016-09-05 04:59] bpasero commented on #34
@DanTup so where does it crash?

[2016-09-05 04:59] bpasero commented on #34
_From @DanTup on September 4, 2016 18:20_

@bpasero Sorry, I thought that output was because of a crash. What's happening is the extension host appears, then vanishes, but there's no output of test results. It's not clear if the tests ran at all.

I tried setting `ELECTRON_NO_ATTACH_CONSOLE` (since we needed that to see the test output on AppVeyor) however that just hid most of the output provided

[2016-09-05 05:00] bpasero commented on #34
Maybe try to check for the exit code to see if the tests are good or bad.

[2016-09-05 17:35] DanTup commented on #34
Hmmm, so I just tried again, and it worked:

![Working](https://cloud.githubusercontent.com/assets/1078012/18254246/9d446bdc-7393-11e6-8720-f3a4bff38c94.png)

So I ran it a bunch more times from both PoSh and CMD and out of about 15 runs, every one resulted in no test output. So, possibly it's intermittent but fails almost all the time (one success in 30+ runs over the two days!).

**However**, I'

[2016-09-06 04:25] #34 closed

[2016-09-25 19:44] HookyQR opened #36 "No tests results on appveyor"
I am trying to add appveyor testing for one of my extensions, but Appveyor doesn't seem to run the tests at all. I've copied the repo to a test repo for now:

https://github.com/HookyQR/VSCodeBeautify2

And added a deliberately failing test. The tests are reported on my PC, but they don't seem to run on Appveyor at all. Code is definitely being started, but on tests are run, and thus Appveyor repo

[2016-09-26 05:17] bpasero commented on #36
@HookyQR can you try using the same environment variables as we do in 1.5.x? https://github.com/Microsoft/vscode/blob/1.5.3/appveyor.yml

[2016-09-26 06:08] HookyQR commented on #36
That one is designed for Typescript, which won't work because my extension is javascript - and thus has no build step. I actually started with that, then fiddled with parts of it by adding/removing bits based on what I had seen in other extension test yaml files. Nothing has worked.

Since code actually runs, is there something I need to do specifically to get it to run *with the extension* on app

[2016-09-26 06:32] bpasero commented on #36
I meant to replace your environment variables with this:

[code]

[2016-09-26 06:51] HookyQR commented on #36
Awesome, thanks @bpasero. (Kind of) It fails, like it should, but with no output.

When it passes though, all of the test results come out as expected.

[2016-09-26 08:22] bpasero commented on #36
@HookyQR the output issue will likely be fixed with our 1.6 release where we update electron 👍

[2016-09-26 08:22] #36 closed

[2016-09-27 13:46] bpasero commented on #33
Should be fine now when using latest vscode module in version 1.x

[2016-09-27 13:46] #33 closed

[2016-09-27 13:52] bpasero commented on #28
@Tyriar gulp-untar is old enough that it drags in a problematic graceful-fs version. Can we see if there is a newer replacement that does the same?

[2016-10-11 10:06] wmaurer opened #38 "Update to latest typings (VSCode 1.6)"
The extensions API has changed for VSCode 1.6.
For example, this line I don't see in the `vscode.d.ts` in this npm package:
https://github.com/Microsoft/vscode/blob/joh/fmtprio/src/vs/vscode.d.ts#L821

Shouldn't this package be updated to reflect the latest typings?

Thx.

[2016-10-17 23:21] roblourens opened #39 "Download typings on install, or include in package"
I was very confused trying to add this to an existing project, until I realized that most repos have `"postinstall": "node ./node_modules/vscode/bin/install"` to actually download vscode.d.ts.

Would it make sense to set `"postinstall": "node ./bin/install"` in 'vscode' itself so downloading typings happens when the package is installed, or including the latest typings by default, which can be ove

[2016-10-23 02:52] Tyriar commented on #28
Put out PR https://github.com/jmerrifield/gulp-untar/pull/7 to fix this in the module.

[2016-10-24 02:24] #28 closed

[2016-10-25 14:16] bpasero commented on #38
@wmaurer See http://code.visualstudio.com/docs/extensions/debugging-extensions#_common-questions

[2016-10-25 14:16] #38 closed

[2016-10-25 15:17] wmaurer commented on #38
@bpasero Ok, thanks very much, I somehow oversaw that info.

[2016-10-25 15:46] TheColorRed opened #40 "CompletionItem decorator"
Is there a way to add a decorator to a CompletionItem?

I would like to add a color like the way CSS shows the color of the item. Is this possible? If so how can I do it?

[2016-10-29 16:02] glen-84 opened #41 "Issues when trying to update linter extension to use TypeScript 2.x"
**From the server:**

[code]

Where should I get `Thenable` from? In the past I got it from `es6-promise`, but that causes duplicate identifier errors now.

**From the client:**

[code]

Is this a bug, or am I missing a dependency?

Here is a copy of the extension: [vscode-ext.zip](https://github.com/Microsoft/vscode-extension-vscode/files/560014/vscode-ext.zip) (you'll just need to run `npm insta

[2016-10-31 14:27] bpasero commented on #40
This issue was moved to Microsoft/vscode#14757

[2016-10-31 14:27] #40 closed

[2016-10-31 14:31] bpasero commented on #39
There was a reason to do it this way I think due to some NPM behaviour at that time. Anyway we cannot just change this easily without breaking existing extensions. I do not see a real bug here or problem to solve, so I will close this.

[2016-10-31 14:31] #39 closed

[2016-10-31 14:33] bpasero commented on #41
I see the issue as well. @dbaeumer can you please advise, it is easy to reproduce after downloading the zip and `npm install` in both projects.

![image](https://cloud.githubusercontent.com/assets/900690/19857808/5bada1f8-9f7f-11e6-82a6-cd937a805eb8.png)

[2016-11-04 18:16] glen-84 commented on #41
There are also the `Module 'vscode' has no exported member 'DocumentLink'` errors.

I'd like to get my extension updated soon if possible, so any assistance would be greatly appreciated.

[2016-11-05 06:54] bpasero commented on #41
@dbaeumer ping

[2016-11-05 15:34] dragos commented on #41
Same problem here. No need to update to TS 2.0 actually, I saw this on a fresh checkout. Some dependencies have been silently upgraded, I see that the checkout that works uses vscode@0.11.5, the one that fails is at 0.11.8. However, I moved everything to TS 2.0 and depend on vscode@1.0.0, still fails in the same way with DocumentLink errors.

[2016-11-05 16:35] dragos commented on #41
@evacchi provided this workaround on the ensime-vscode Gitter room:

[code]

[2016-11-05 17:18] egamma commented on #41
Suggest to mimik what vscode-eslint does. It is on TS 2.0. The thenable error can be worked around by adding a thenable.d.ts, pls see https://github.com/Microsoft/vscode-eslint/blob/master/eslint-server/src/thenable.d.ts.

[2016-11-05 17:52] glen-84 commented on #41
@dragos & @egamma -- Thank you! =)

[2016-11-05 17:52] #41 closed

[2016-11-11 22:47] rebornix opened #42 "postinstall script filter out all definitions in latest vscode.d.ts file"
https://github.com/Microsoft/vscode/commit/dc7402b978ba64b8951bb38a9a9ec5f37de6f205  starts to only use `declare module` instead of having both `declare namespace` and `declare module`. But `postinstall` script doesn't align with this change.

[code]

After the script is executed, the content being saved to the disk is actually

[code]

[2016-11-11 23:56] rebornix commented on #42
It turned out to be an out of date vscode yeoman generator which uses an old version of `vscode` dependency. And if users just simple change the version of engine but forget to update the `vscode` dependency together, then ppl ran into this issue.

Lesson learned here, remember to update `vscodeengine` and `vscode` dependency together.

[2016-11-11 23:56] #42 closed

[2016-11-19 22:18] ruiquelhas opened #43 "Replace multiple selections"
I'm trying to replace multiple selections in a `TextEditor` by the uppercase version of each one, like the following:

[code]

The `Thenable` returned on the first `edit()` call has `true` (and the content gets correctly replaced) but the ones from the remaining calls have `false`. Am I missing something?

[2016-11-20 18:08] ruiquelhas commented on #43
Looks like I got it wrong, for my specific case, there is no need to call `edit()` multiple times, only `replace()`.

Closing the issue. Sorry.

[2016-11-20 18:08] #43 closed

[2016-11-21 00:07] pflannery opened #44 "Error installing vscode.d.ts: Error: Request returned status code: 404"
Started to the see this on the 19th nov.

https://raw.githubusercontent.com/Microsoft/vscode/1.3.0/src/vs/vscode.d.ts exists so not sure whats happening?

Here's my travis output

[code]

[2016-11-30 00:08] celador opened #45 "ignoreFocusOut"
ignoreFocusOut for inputboxOption and quickpickOptions is missing.
It causes an error in my extension unless I manually change this typing.

[2016-12-09 12:14] bpasero commented on #45
Please report this to the vscode repository: https://github.com/Microsoft/vscode/

[2016-12-09 12:14] #45 closed

[2016-12-09 12:14] bpasero commented on #44
@pflannery I cannot reproduce, do you still see this?

[2016-12-09 18:40] pflannery commented on #44
@bpasero yes I'm still seeing this -  https://travis-ci.org/vscode-contrib/vscode-versionlens/jobs/178040872

[2016-12-10 06:56] bpasero commented on #44
That is weird, how come you get a 404 for https://raw.githubusercontent.com/Microsoft/vscode/1.3.0/src/vs/vscode.d.ts when it just works if you click on it...

[2016-12-11 19:14] pflannery commented on #44
I've solved it. I had to regenerate the github token which was stored in the travis settings for the project.
About a month ago I deleted the project by accident and github support restored it so I'm guessing the access token I had setup must of become invalid when they did the restore.
Thanks.

[2016-12-11 19:14] #44 closed

[2016-12-16 07:06] Dollyn opened #46 "How to get languageConfiguration by language id?"
I'm working on some extension, I want to get LanguageConfiguration(#CommentRule) by a given language id, but didn't find any api to achieve this.  Did I miss something?

[2016-12-16 08:11] stkb commented on #46
I opened Microsoft/vscode#2871 when I was wanting this feature myself. As far as I know it's still not possible.

It may be easier just to hardcode the values into your extension yourself.

[2016-12-27 18:00] wiggin77 commented on #46
I need this as well.  I am writing an extension that enhances other language extensions and need to look up things like what autoclosing pairs are defined.

[2017-01-02 09:49] bpasero opened #47 "Integration Tests of an extension test are failing"
_From @mohseenrm on December 23, 2016 7:12_

- VSCode Version: vscode@1.0.3
- OS Version: 10.12.3 and Ubuntu 12.04.5 LTS

Steps to Reproduce:

1. npm install && npm run vscode:prepublish

npm@3.10.9
node@v6.9.2
nvm@0.32.0

Repo: https://github.com/mohseenrm/lit-it
Travis: https://travis-ci.org/mohseenrm/lit-it/jobs/186272789

Issue:
Tests run locally and pass. Same error on local machine though (m

[2017-01-06 07:32] Huachao opened #48 "Request to publish a new version of vscode.d.ts"
When would you like to publish a new version, will it be published together with every vscode release, so that we can leverage vscode.d.ts change

[2017-01-08 08:34] bpasero commented on #46
Please ask this on the VSCode repo.

[2017-01-08 08:34] #46 closed

[2017-01-08 08:35] bpasero commented on #48
Yes, as soon as we tag VSCode on GitHub for a new release you can use it. However, you can also set the vscode engine dependency in your `package.json` to "`*`" to fetch the latest `vscode.d.ts` from master.

[2017-01-08 08:35] #48 closed

[2017-02-05 00:52] bolinfest opened #49 "Cannot run `bin/install` behind a proxy"
See https://github.com/sourcegraph/javascript-typescript-langserver/issues/69 for more context.

[2017-02-06 00:58] Huachao commented on #48
@bpasero will a new version be published of this package for vscode Jan release?

[2017-02-06 01:12] Huachao commented on #48
@bpasero will we have a newer version of the `vscode` package on NPM for Jan release

[2017-02-06 05:23] bpasero commented on #48
@Huachao there were no changes, so no new release. The new API is available as soon as you set your extension to depend on 1.9!

[2017-02-17 17:56] KalitaAlexey opened #50 "StatusBarItem.command may be undefined"
Currently it isn't.

[2017-02-19 01:23] rufusroflpunch opened #51 "Type definition out of date"
The type definition appears out of date. Specifically, the getWordRangeAtPosition method on TextDocument is missing the regex parameter as listed in the official API docs.

[2017-02-19 06:19] bpasero commented on #51
See http://code.visualstudio.com/docs/extensions/debugging-extensions#_common-questions

[2017-02-19 06:19] #51 closed

[2017-02-21 10:55] bpasero commented on #50
@KalitaAlexey can you clarify what you mean?

[2017-02-21 11:02] KalitaAlexey commented on #50
Hello @bpasero.
There is `vscode.StatusBarItem`.
The class declares the `command` field.
Without `--strictNullChecks` it may accept `undefined`.
And if the value is `undefined` the user wouldn't be able to click on the status bar item.
With `--strictNullChecks` it may accept only `string`.

[2017-02-21 11:04] bpasero commented on #50
@jrieken fyi

[2017-02-21 12:50] jrieken commented on #50
true story

[2017-02-21 12:52] jrieken commented on #50
fixed with https://github.com/Microsoft/vscode/commit/c04b0754f59e8e2048b4131d14d9191ab351f954

[2017-02-21 12:52] #50 closed

[2017-02-21 12:52] KalitaAlexey commented on #50
Good. Thank you.

[2017-03-02 00:37] Raymondd opened #53 "Version regex broken for non-single digits versions"
I get
[code]

After some debugging I found that the regex on line 82:
`var version = downloadUrl.match(/\d\.\d\.\d/)[0].split('\.');`
does not catch double digit versions and the new version of VSCode is `1.10.0`.

[2017-03-02 07:32] bpasero commented on #53
Awesome catch!

[2017-03-02 07:32] #53 closed

[2017-03-02 07:34] bpasero commented on #53
I have published 1.0.5 with this fix.

[2017-03-04 07:29] bpasero opened #55 "Running `npm test` fails"
_From @KnisterPeter on March 4, 2017 3:39_

- VSCode Version: 1.10.1
- OS Version: Linux

Steps to Reproduce:

1. Setup new typescript extension `yo code`
2. Run `npm test`

An example could be seen here:
https://travis-ci.org/KnisterPeter/vscode-commitizen/builds/207429633

_Copied from original issue: Microsoft/vscode#21958_

[2017-03-04 07:30] bpasero commented on #55
This is https://github.com/Microsoft/vscode-extension-vscode/issues/53

Make sure to use latest published vscode module.

[2017-03-04 07:30] #55 closed

[2017-03-06 12:46] bpasero opened #57 "Disable strict SSL in ./node_modules/vscode/bin/install script?"
_From @emackey on March 3, 2017 19:16_

I'm on a corporate network (not a proxy) that imposes its own self-signed SSL certificate on outbound https traffic.

I already have this in my `settings.json`, which is insecure but at least allows me to install vscode extensions:

[code]

Likewise, I can turn off strict ssl to install npm modules, with `npm set strict-ssl false`.  This is git bash on Windo

[2017-03-06 12:46] bpasero commented on #57
_From @joaomoreno on March 6, 2017 10:46_

@bpasero The code to fetch `vscode.d.ts` should maybe pay attention to npm's value of `strict-ssl`?

[2017-03-09 06:14] bpasero commented on #57
@emackey to verify the fix would work can you open the file `node_modules/vscode/lib/shared.js` in your extension folder and change the options bag to this:

[code]

And then run npm install again to see if this time it fetches the vscode.d.ts properly?

[2017-03-09 18:39] emackey commented on #57
@bpasero I can confirm that the options change fixes the problem for me.  Thanks for taking this on!

[2017-03-10 05:30] #57 closed

[2017-03-10 05:31] bpasero commented on #49
@bolinfest does this help you? https://www.npmjs.com/package/request#controlling-proxy-behaviour-using-environment-variables

[2017-03-10 05:37] bpasero commented on #57
Fixed via 1.0.6

[2017-03-15 18:07] fearthecowboy opened #58 "Please put the vscode.d.ts file in the npm package."
*sigh*

Not having the `vscode.d.ts` file in the actual npm package is really a pain in the ass.

Especially if one is crafting their own build script (because perhaps I have other stuff I need to do, and already have a build script that takes care of everything else) and didn't see that is was **required** to have a `update-vscode` script in your `package.json` `scripts` section, and then run 'np

[2017-03-24 22:56] 4mitch commented on #49
Great! Setting these env have helped me. I've also was not able to run postinstall

[2017-03-24 23:38] #49 closed

[2017-03-30 20:24] pr0g opened #59 "Issue finding node.d.ts and index.d.ts"
Hi there,

I am trying to update an extension I wrote for vscode a short while ago for switching between corresponding files (.h/.cpp etc. - https://github.com/pr0g/switch-corresponding) but I am running into issues trying to build/publish.

I have tried to update the extension to the latest requirements (what is needed in package.json - following this update - https://code.visualstudio.com/update

[2017-04-03 05:21] bpasero commented on #59
@pr0g do you have TypeScript 2.2 installed on your system?

[2017-04-03 07:19] pr0g commented on #59
Hi @bpasero!

If I type `tsc -v` at the terminal I see I have Version 2.2.2 installed

I'm not sure if the extension somehow isn't finding it though?

Thank you for your help!

Tom

[2017-04-03 07:23] bpasero commented on #59
@pr0g are your changes on some branch so that I can run `tsc` on it?

[2017-04-03 07:25] pr0g commented on #59
Everything is checked in to mainline atm, if you just clone the repo in theory you should be able to see the issue I think, there's no special branch (probably should be!)

Thanks!

[2017-04-03 07:47] bpasero commented on #59
@pr0g you can delete the top level typings folder, it is no longer needed.

Btw to get more typing, change:

[code]

to

[code]

[2017-04-03 07:47] #59 closed

[2017-04-03 08:19] pr0g commented on #59
Awesome! That has fixed it! Thank you very much indeed! 😄

Much appreciated, have a good one!

[2017-04-05 06:59] ErsafanRend opened #60 "Integration tests in subfolders are not run when test root contains no test"
Given:
* ```code --version```: 1.9.1 (on Ubuntu 16.04.2)
* the default ```Launch Integration Tests``` launch entry in `launch.json` (created by the scaffolding tool)
* a hierarchy of integration tests residing in subfolders of `${workspaceRoot}/out/test/integration`
* no test in `${workspaceRoot}/out/test/integration`

Then:
* no integration test is run
* I get the following error: `TypeError: Ref

[2017-04-05 07:55] ErsafanRend commented on #60
This is a delicate issue, but completely **not your fault**. PEBKAC.

Please delete this issue.

[2017-04-05 07:55] #60 closed

[2017-04-10 22:18] chrmarti opened #61 "Error running tests: TypeError: Cannot read property '0' of null"
_From @kidtsunami on April 7, 2017 16:12_

- VSCode Version: v1.11.1
- OS Version: macOS v10.12.4

Steps to Reproduce:

1. Pull down MavensMate-VisualStudioCode extension from https://github.com/kidtsunami/MavensMate-VisualStudioCode/tree/command-tests
2. Run cmd `yarn`
3. Run cmd `npm test`
4. Observe:
[code]

[2017-04-10 22:18] chrmarti commented on #61
@kidtsunami How is this a problem with VSCode?

[2017-04-10 22:18] chrmarti commented on #61
_From @kidtsunami on April 10, 2017 13:19_

Good question @chrmarti , I don't have any hard facts just that nothing build related changed from when tests worked to when they stopped. Why I think it's VSCode related:

1. My Travis-CI builds stopped working. Even though running tests through "Launch Tests" continued to work in VSCode, I saw the  [above error in Travis-CI](https://travis-ci.org/kidts

[2017-04-10 22:18] chrmarti commented on #61
@kidtsunami Can you get at the stacktrace of that error? Is it in extension code?

[2017-04-10 22:18] chrmarti commented on #61
_From @kidtsunami on April 10, 2017 22:4_

@chrmarti I don't know how to get the stacktrace from running `npm test` from the command line.

Though comparing the successful build, it looks like it does not get to the point of loading the extension test. Here is the successful build log:
[code]

The key part is, the failing build, appears to fail before the `Running extension tests` line. Have there

[2017-04-11 05:39] bpasero commented on #61
@kidtsunami This is because of a very old vscode dependency in package.json, please update to ^1.0.0.

[2017-04-11 05:39] #61 closed

[2017-04-13 01:53] kenhowardpdx opened #62 "vscode.d.ts missing signature of showInformationMessage that includes MessageOptions"
This is what is missing: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3675

[2017-04-17 16:19] bpasero commented on #62
https://code.visualstudio.com/docs/extensions/debugging-extensions#_common-questions

[2017-04-17 16:19] #62 closed

[2017-04-22 22:38] RationalCoding commented on #43
@ruiquelhas The edit builder expires once that callback completes. Did you ever find a way to replace multiple selections when calling `edit()` multiple times?

We seem to be the only people on the internet who have had this problem :/

[2017-04-23 09:59] ruiquelhas commented on #43
The way to replace multiple selections was calling `replace()` for each selection within a single `edit()` call.

[2017-04-27 01:26] pflannery commented on #58
I place mine in `postinstall` so it auto installs it upon running "npm install"  https://github.com/vscode-contrib/vscode-versionlens/blob/master/package.json#L36
But it would be cool if `vscode.d.ts` came from a package i.e. `@types/vscode` so it's automatically referenced by typescript.

Currently I'm referencing the vscode.d.ts path in my own typings file like this -> https://github.com/vscode-

[2017-05-31 15:02] Dominik-K opened #63 "API for symbolic linked folders & files"
(I guess it's the right `vscode` repo.)

It would be nice to display symbolic links in the "File Icon Theme" extensions. The developers from the `vscode-icons` extension would like to implement the feature when there's an API for it. See https://github.com/vscode-icons/vscode-icons/issues/124#issuecomment-305151861

[2017-06-02 08:54] bpasero commented on #63
@Dominik-K please report to https://github.com/Microsoft/vscode

[2017-06-02 08:54] #63 closed

[2017-06-15 05:23] ryanluker opened #64 "windows 1.13.x vscode-update.azurewebsites.net archives have an incorrect zip structure"
The 1.13.x archives seem to be zipped incorrect as they do not have the important Code.exe file in the root. Instead code is located like this: ```Downloads\VSCode-win32-ia32-1.13.1\VSCode-win32-ia32\Code```
while previous releases it was: ```Downloads\VSCode-win32-1.11.0\Code```. This has the not so fun side effect of causing integration tests to fail:
[code]
It seems directly related to the code

[2017-06-15 06:52] joaomoreno commented on #64
Fixed in https://github.com/Microsoft/vscode/commit/c1562a5ebb4a072367bf528b23db3a8c91e46c7b

[2017-06-15 06:52] #64 closed

[2017-06-15 07:00] bpasero commented on #64
@joaomoreno thanks 👍

[2017-06-15 07:03] bpasero commented on #64
Unfortunately we need a new release for this to take effect. As a workaround you can set an environment variable that the test script will pick up: `set CODE_VERSION=1.12.2`

[2017-06-15 14:07] ryanluker commented on #64
@joaomoreno @bpasero Thanks for the quick turn around guys 😄 👍

[2017-06-15 17:07] bvandre opened #65 "Install script doesn't honor proxy settings"
When doing an npm install behind a proxy with `HTTP_PROXY` environmental variable set and `npm config proxy` set as well the proxy is never used.  Doing a little hacking it seems that I can get it to work by adding

`    if (process.env.npm_config_proxy) {
        options.proxy = process.env.npm_config_proxy;
    }`

to lib/shared.js.

I wasn't sure if this would be the best solution but I can mak

[2017-06-18 06:24] bpasero commented on #65
@bvandre does this help? https://www.npmjs.com/package/request#controlling-proxy-behaviour-using-environment-variables

[2017-06-18 17:44] bvandre commented on #65
I think I was mistaken about our corporate proxy.  For some reason SSL requests use the http protocol instead of https. Setting `HTTPS_PROXY` to our internal proxy, seems to work.

I might still argue that using the npm setting for the proxy makes a little bit more sense as it took me a while to figure out what was going on, but as long as this works I am happy.

[2017-06-22 07:31] iampeterbanjo commented on #61
I don't think this is just a problem with the VS code dependency. I have a failing build on Codeship and Travis which I can't fix. The build works on Mac OSX and on my local Linux machine but not on the CI servers.

I would really appreciate any help on this. This is the Git branch that I'm trying to test
https://github.com/iampeterbanjo/vscode-elixir-linter/tree/feature/16-lint-severity

[2017-06-22 07:37] iampeterbanjo commented on #61
[code]

[code]

Failing Linux build logs
![screenshot from 2017-06-22 08-33-36](https://user-images.githubusercontent.com/221853/27422409-f3ac0630-5725-11e7-9ac4-d145789b66cb.png)

Passing Mac OS X build logs
![screenshot from 2017-06-22 08-34-27](https://user-images.githubusercontent.com/221853/27422420-00044988-5726-11e7-8489-32a874a87a98.png)

[2017-06-27 07:46] #65 closed

[2017-06-28 15:37] Sharpiro opened #68 "vscode module doesn't work from simple script"
So I have no problem using the vscode node module from the yeoman generated vs code extension.

But is there a reason why the module doesn't seem to work from just a fresh simple script to use for testing?

I get no intellisense errors in code and my vscode.d.ts file is where it should be.

index.ts:
[code]

index.js:
[code]

package.json:
[code]

Exception:
[code]

[2017-06-29 04:41] bpasero commented on #68
Sorry, but this is not the right place for questions. Please post questions over at StackOverflow: http://stackoverflow.com/questions/tagged/vscode

Thanks for understanding.

[2017-06-29 04:41] #68 closed

[2017-06-29 04:42] bpasero commented on #58
No plans on changing this, we dynamically have to download the vscode.d.ts based on the version your extension has. So we cannot ship the vscode.d.ts with the module. Closing.

[2017-06-29 04:42] #58 closed

[2017-06-29 04:42] bpasero commented on #47
Please reopen if still happening.

[2017-06-29 04:42] #47 closed

[2017-06-29 05:29] mohseenrm commented on #47
I'll check it out, great job btw with visual studio code, love using it, and has improved quite a lot since I first started using it.

[2017-06-30 07:19] bpasero opened #69 "Newly generated extension via yeoman erorrs in test suite on Windows"
@bcardarella

<table>
<thead>
<tr><td><b>Tool</b></td><td><b>Version</b></td></tr>
</thead>
<tbody>
<tr><td>VS Code</td><td>1.13.1</td></tr>
<tr><td>Node</td><td>6.11.0</td></tr>
<tr><td>NPM</td><td>3.10.10</td></tr>
<tr><td>Windows</td><td>8.1</td></tr>
<tr><td>Git</td><td>2.13.2.windows.1</td></tr>
</tbody>
</table>

I followed the instructions via: https://code.visualstudio.com/docs/extensions/

[2017-06-30 21:25] vazexqi opened #70 "Add a CODE_EXTENSIONS_PATH similar to CODE_TEST_PATH?"
I would like to write tests that exercise a collection of extensions. I can do so interactively using [Launch
Tests Configurations](https://code.visualstudio.com/docs/extensions/testing-extensions#_launch-tests-configuration) using `--extensionDevelopmentPath`.

I would like to do the same for CI tests. But the [test](https://github.com/Microsoft/vscode-extension-vscode/blob/master/bin/test#L49) s

[2017-07-01 08:21] bpasero commented on #70
Makes sense to me, PR welcome 👍

[2017-07-03 08:29] #70 closed

[2017-07-03 08:30] bpasero commented on #70
Published as 1.1.2

[2017-07-04 19:29] DanTup opened #72 "Extension tests failing on Windows"
I'm not really sure how to debug this, but my extension tests are currently failing on AppVeyor, eg:

https://ci.appveyor.com/project/DanTup/dart-code/build/0.0.591

The output is this:

[code]

This is the same output that was given in #30 which happened when it was downloading a Linux version of code, however this time the link does say `win32`. Could there be something else wrong with the downl

[2017-07-05 08:40] bpasero commented on #72
Looks like https://github.com/Microsoft/vscode-extension-vscode/issues/69

[2017-07-05 08:40] #72 closed

[2017-07-05 08:47] bpasero commented on #69
This actually is https://github.com/Microsoft/vscode-extension-vscode/issues/64

[2017-07-05 08:47] #69 closed

[2017-07-05 17:29] DanTup commented on #72
Yep, which was same as #64. I'm assuming the June release isn't too far away, so I'll just live with it until then; I don't have any useful tests yet anyway 😁

[2017-08-16 18:21] camwar11 commented on #57
@bpasero it seems that there is a bug in npm when setting environment variables based on config variables to false (see [here](https://github.com/electron-userland/electron-prebuilt/pull/97)). I think this issue still exists due to this fact (and that I am still running into it)

[2017-08-17 05:02] bpasero commented on #57
@camwar11 good catch, want to jump in with a PR?

[2017-08-17 13:58] camwar11 commented on #57
@bpasero Sure, I should be able to work it tonight.

[2017-09-27 04:07] formulahendry opened #74 "Failed to activate extension if there is an extensionDependencies when running test"
In Travis CI, meet with below error when running `npm test --silent` since the extension has an extensionDependencies
[code]
Not sure there is a way to install the required extensionDependencies or any other workaround.

[2017-09-28 04:52] bpasero commented on #74
@formulahendry you will have to prepare the environment in a way that all required extensions are present. You can set the `process.env.CODE_EXTENSIONS_PATH` variable to point to a folder where all extensions that are required are in.

[2017-09-28 04:52] #74 closed

[2017-10-02 19:35] chadbr opened #76 "SourceControlInputBox.value no longer exists"
The SourceControlInputBox seems to have lost it's "value" implementation:

[code]

as of 1.16 - the vsts extension has lost it's ability to manipulate the commit message:

https://github.com/Microsoft/vsts-vscode/issues/314

Any ideas?

Thanks - Chad

[2017-10-03 10:24] bpasero commented on #76
@joaomoreno can you comment?

[2017-10-03 13:19] joaomoreno commented on #76
I'll comment on Microsoft/vsts-vscode#314

[2017-10-03 13:19] #76 closed

[2017-10-06 19:26] JimiC opened #77 "Update dependencies"
`mocha` has a high priority to be updated to `v4` from `v3` due to a security risk with one of its dependencies.

[2017-10-06 19:27] JimiC commented on #77
1. Would you like me to submit a PR for this?
2. While at it would you like to update all dependencies to the latest version?

[2017-10-10 14:45] PaulTFreedman opened #78 "Add property for all editor tabs to vscode.window namespace"
I was looking at writing an extension that changed the active tab when a mouse scroll event is detected but there don't appear to be any properties exposed that allow access to all the open tabs (editors). There is a property called `activeTextEditor` which contains the editor with focus and another one called `visibleTextEditors` which contains all the editors visible to the user. I would like an

[2017-10-12 04:57] bpasero commented on #78
please report VSCode issues here: https://github.com/Microsoft/vscode/

[2017-10-12 04:57] #78 closed

[2017-10-12 07:47] bpasero commented on #77
@JimiC yeah sounds good, thanks. Let's try to update them all if possible. But we need to test for each if there are semantic changes. Most dependencies seem to originate from the [`test`](https://github.com/Microsoft/vscode-extension-vscode/blob/master/bin/test) command (e.g. all gulp related dependencies).

[2017-10-13 07:15] bpasero commented on #77
Landed.

[2017-10-13 07:15] #77 closed

[2017-10-16 15:27] tommck commented on #10
I just received this same error with a brand new "yo code" setup

[2017-10-17 03:49] bpasero commented on #10
@tommck I cannot reproduce, here is what I did:
* `npm install -g generator-code`
* `yo code`
* pick the typescript variant and wait until finished

What output do you get?

[2017-10-23 20:25] tommck commented on #10
I think the problem might be because of an http proxy we have in place that won't let something download.  I'll have to test again in a bit

[2017-10-30 10:07] CzBuCHi opened #81 "vscode.d.ts redeclaration errors"
Steps to Reproduce:

1. Create typescript package `master` with imports package `vscode`
2. Create second package `slave` with also imports package `vscode`
3. import `master` package from `slave` package (i used `npm link` for that)
4. Create method in `master` that uses anything from `vscode` package
5. Compile `master` - **all okay**
6. Create method in `slave` that uses method from `master` de

[2017-10-31 12:22] CzBuCHi opened #82 "CodeLens not rendering as <a> but as <span> if CodeLensProvider not in extension package"
I have class LensProvider that implements vscode.CodeLensProvider. This is how im using it:
[code]

If i leave `LensProvider` class inside extension package, then lenses are shown correctly as `<a>`.
But when i move that class into separate npm package (with is referenced by extension package) lenses are shown as `<span>` ... as result clicking on them wont trigger asociated command.

[2017-10-31 12:44] CzBuCHi commented on #82
Nevermind, my bad - lens command was undefined ... :/

[2017-10-31 12:44] #82 closed

[2017-11-01 08:07] bpasero commented on #81
@CzBuCHi so do I understand it correctly that you have 1 compilation unit that potentially has 2 vscode.d.ts in it?

@mjbvz any thoughts how to support this development setup?

/cc @dbaeumer

[2017-11-01 08:32] CzBuCHi commented on #81
@bpasero  not sure what compilation unit is :/ ...  im creating vscode extension group that will simplify running unit tests and currently have 3 packages:
1. Helper package, with deals with vscode UI integration (CodeLens, commands) and some other stuff independent on unit test framework. This package is not vscode extension, but it uses types from `vscode.d.ts`.
2. Actual vscode extension packag

[2017-11-02 08:52] CzBuCHi opened #83 "vscode shows error message for files not part of project"
created simple test project: [link](https://github.com/CzBuCHi/vscode-wrong-error)

**how to reproduce**
1. open test project in editor
2. start debugger session (F5) - all goo so far
3. open random typescript file in same editor with is not in `/src/**` folder and has syntax error in it.
4. vscode will correctly show problems in opened file
5. start debugger session - this popup message appears:

[2017-11-02 11:45] bpasero commented on #83
@CzBuCHi can you please report this to our VSCode issue repository here: https://github.com/Microsoft/vscode/issues

[2017-11-02 11:45] #83 closed

[2017-11-16 10:22] CzBuCHi opened #85 "activationEvents.workspaceContains:{value from configuration}"
Not sure if this is correct place to be but it is  related to extension developement so:

Say i have this contributions in my extension:
[code]
i know, that i can enable extension when file `a/b/c` exists:
[code]
but i dont know, how to combine these two - something like:

[code]
with will activate extension only if file defined by path in `some.property` exists (path is relative to `vscode.worksp

[2017-11-17 13:24] bpasero commented on #85
@CzBuCHi please report to here: https://github.com/Microsoft/vscode/issues

[2017-11-17 13:24] #85 closed

[2017-11-21 21:15] PranayAgarwal opened #86 "Add types for `vscode/lib/testrunner`"
The default test runner module provided by VS Code (at `vscode/lib/testrunner`) isn't typed, so the project fails compilation with the strict-mode TypeScript compiler flag `noImplicitAny`.

Moved here from https://github.com/Microsoft/vscode/issues/38649.

[2017-11-23 13:08] bpasero commented on #86
Care to provide a PR?

[2017-11-29 07:32] formulahendry commented on #74
@bpasero , thanks for the info! So I need install the required extensions before running the `npm test --silent`. Is there any sample or best practice to install an extension during CI? I know there is `code --install-extension` to install ext, but you need to install vscode before that. That would be a little heavy. And I see this function will will install vscode then run tests. I am thinking is

[2017-11-29 09:51] bpasero commented on #74
Maybe @sandy081 would know, I think you can install an extension from the command line including all dependencies.

[2017-11-29 16:11] bpasero commented on #86
Fixed via https://github.com/Microsoft/vscode-extension-vscode/commit/d774e73402f048c43571f59534d852423c40b080 and published as version `1.19`.

/cc @egamma

[2017-11-29 16:11] #86 closed

[2017-11-29 16:12] bpasero commented on #81
I suggest to move this to a question forum like stack overflow: https://stackoverflow.com/questions/tagged/visual-studio-code

[2017-11-29 16:12] #81 closed

[2017-11-29 16:44] sandy081 commented on #74
Only way I can see is to download the extension from the market place. I do not think there is a library that does it but it is not much code to write to include in your code.

[2017-11-29 20:52] guw opened #88 "Allow to run tests with insiders build"
It's currently not possible to run VS Code Extension tests with an insiders build.

Looking at the code it seems that setting CODE_VERSION should do the trick. However, this doesn't work because of a hard coded "stable" in the generated download url. Also, setting `CODE_DOWNLOAD_URL` directly (eg., to `https://vscode-update.azurewebsites.net/1.19.0-insider/linux-x64/insider`) won't help. The resul

[2017-11-30 08:35] guw commented on #88
@bpasero I noticed that setting `CODE_DOWNLOAD_URL` isn't a valid workaround. The executable after the download is `code-insiders`, which the `test` script doesn't support currently.

[2017-11-30 08:42] bpasero commented on #88
Ah yeah good point.

[2017-12-01 10:47] bpasero commented on #88
@joaomoreno would it be possible to get an endpoint in the form of: `https://vscode-update.azurewebsites.net/<platform>/insiders` that would simply return the last insiders release?

[2017-12-01 16:53] joaomoreno commented on #88
@bpasero You mean https://vscode-update.azurewebsites.net/latest/win32/insiders ?

[2017-12-01 16:59] bpasero commented on #88
@joaomoreno cool!

[2017-12-01 17:22] bpasero commented on #88
@joaomoreno wait, why does that URL download 1.18.1?

[2017-12-01 17:27] bpasero commented on #88
@joaomoreno that one downloads stable for me. How does the website get the latest insider build from https://code.visualstudio.com/insiders/ ?

[2017-12-04 08:07] joaomoreno commented on #88
Oh https://vscode-update.azurewebsites.net/latest/win32/insider. There was an S too many.

[2017-12-04 09:14] bpasero commented on #88
@joaomoreno thanks

@guw interested to provide this as PR? I think we should just use the insider build when the extension declares "`*`" as engine dependency. E.g.

[code]

[2017-12-04 09:48] guw commented on #88
According to [the docs](https://code.visualstudio.com/docs/extensionAPI/extension-manifest) `*` is not allowed. Should it be used anyway? Won't that cause issues at runtime?

[2017-12-04 15:50] bpasero commented on #88
@guw yeah good point, it would probably only be useful on a branch where you want to run builds and tests explicitly against insiders.

Alternatively we could introduce another environment variable to specify the build to be insiders.

[2017-12-05 06:49] #88 closed

[2017-12-05 06:51] bpasero commented on #88
Published as 1.1.10

[2017-12-13 20:23] andy-ms opened #90 "Prefer direct exports over "declare module""
Currently the type definitions are written like:

[code]

But they could be written like:

[code]

The latter is the style we recommend on DefinitelyTyped. The difference is that it makes the file into an external module that is imported based on its path, rather than an ambient declaration that can be imported from anywhere.

[2017-12-18 07:03] bpasero commented on #90
@jrieken fyi not sure if this could be done from the vscode.d.ts we have in our repo in VSCode or we would have to massage the d.ts when downloading for this module.

[2018-01-03 10:15] jrieken commented on #90
I believe not, esp. because we have the `vscode` module declared in two files, `vscode.d.ts` *and* `vscode.proposed.d.ts`.

[2018-01-03 15:19] andy-ms commented on #90
Yeah, if you have two different versions of the same thing I guess you'll have to use an ambient module in at least one of them.

[2018-02-01 17:17] wibjorn commented on #44
@bpasero Getting this error after downloading both the yo code generated example project and vscode-mock-debug project. I've read that this has been solved by updating the Github token @pflannery, but wondering how one goes about this, and/or whether this should be fixed systemically.

[2018-02-08 08:08] joaomoreno opened #91 "Module incompatible with Node 0.10"
From @shanalikhan

We should maybe add an engine compatibility field to this module.

[2018-02-08 09:05] bpasero commented on #91
PR welcome.

[2018-02-08 09:05] bpasero commented on #90
I am closing this as I see no actionable item for the vscode module. Since the vscode.d.ts is coming from the VS Code repo, please report the issue there.

[2018-02-08 09:05] #90 closed

[2018-02-15 11:35] SABIH-YUSSUF opened #92 "Post install script failed"
I'm using VS Code 1.20.1, When I create a new extension project using yo code, the post install script for vscode module produces the following output:

`Error installing vscode.d.ts: Missing VSCode engine declaration in package.json.`

In the package.json of the extension project:

[code]

[2018-02-19 16:41] amtlib-dot-dll opened #93 "Add Switch for Offline Installation"
When a package depends on this package, it cannot be installed without Internet access, which is bad for some build machines. [`yarn`](https://yarnpkg.com/blog/2016/11/24/offline-mirror/) has an offline installation feature; however this feature is unusable for projects with this package.

When a project releases a version with pinned and cached `vscode.d.ts` file, the release may set up a flag in

[2018-02-20 10:27] bpasero commented on #92
@SABIH-YUSSUF can you attach the project as zip?

[2018-03-03 12:30] DanTup opened #94 "test script only checks for `.vscode-test` folder but not actual Code executable"
In the test script, the check for whether to download Code is just based on the folder existing:

[code]

This means that if you want to run your tests against both stable and insiders you can't. eg. I have a wrapper that spawns the test script after setting env vars like this:

[code]

The insiders run fails, because the first run downloads stable into `.vscode-test` and then the insider run assu

[2018-03-04 16:45] DanTup opened #96 "Tests: ensure version of Code in .vscode-test matches the one expected"
Currently if you have a `.vscode-test` folder locally, the test script will use the version inside it even if it's stale/doesn't match the `CODE_VERSION`.

This is likely a fringe case - people will run tests locally using the launch config and on Travis/AppVeyor they'll likely start with a clean filesystem.

However, if you might want to speed things up by reusing folders (eg. if you use Travis/A

[2018-03-06 11:29] #92 closed

[2018-03-06 11:31] #94 closed

[2018-03-06 11:37] #91 closed

[2018-03-06 11:39] bpasero commented on #91
Added:

[code]

Which seems to be the beginning of `const` support in node.js.

[2018-03-08 11:08] DanTup commented on #94
@bpasero Just noticed that on Windows if you want to use this for repeatable builds (where you do not clear the `.vscode-test` folder) you might still hit issues because there are overlapping filenames. On Mac everything goes inside a `.app` folder but on Windows there are a ton of DLLs etc. that go directly into the `.vscode-test` folder. So, if you were to run stable tests, then insiders, then s

[2018-03-08 13:06] bpasero commented on #94
@DanTup sounds good, I am open for another PR 👍

[2018-03-08 14:41] DanTup commented on #94
@bpasero Great! I've sent #97.

[2018-03-08 15:13] bpasero commented on #94
@DanTup I published 1.1.12, maybe you could check its ok now.

[2018-03-08 15:19] DanTup commented on #94
@bpasero LGTM! Thanks for the quick turnaround! 👍

![vstest](https://user-images.githubusercontent.com/1078012/37158730-fe195d86-22e3-11e8-8013-db7a5b100fb1.png)

[code]

[2018-03-08 16:39] bpasero commented on #94
@DanTup awesome

[2018-03-08 19:16] keyvan-m-sadeghi opened #98 "API for hiding characters in a file"
Hi,

I'm new to VSCode extension development, just had a quick read of the API reference and could not find an API I need for [my extension](https://github.com/keyvan-m-sadeghi/indented/).

## Use case

I want my extension to parse `js` files and hide the visual clutter of opening and closing braces (`{` and `}`) with a button located in the status bar (next to `TabSize`, etc.). I'd later want the

[2018-03-09 08:48] bpasero commented on #98
@keyvan-m-sadeghi please report this to our repo: https://github.com/Microsoft/vscode

[2018-03-09 08:48] #98 closed

[2018-03-09 09:13] keyvan-m-sadeghi commented on #98
@bpasero hmm I'm not reporting an issue with VSCode you see, I'm proposing a feature to be added to the extensibility APIs in (this repo). If you could give me a starting point, I could cook a pull request.

[2018-03-09 09:25] bpasero commented on #98
@keyvan-m-sadeghi yes trust me, its the right place

[2018-03-16 16:14] DanTup opened #100 "Code always gets downloaded on Windows"
When running the tests multiple times, it outputs that it's always downloading on Windows. I think it's because of this (I'm on a Mac atm so can't confirm - just noticed it in my AppVeyor builds):

[code]

There's no `.exe` on there, so the `fs.exists` check fails, and it calls the download method. The fix is likely just adding `.exe` to the two variables for Windows executables (stable and inside

[2018-03-18 11:10] m90 opened #101 "MarkdownString#appendCodeblock is missing from vscode.d.ts"
When developing the [go extension](https://github.com/Microsoft/vscode-go) I noticed that the type definitions will not include the `appendCodeblock` method on `MarkdownString`: https://code.visualstudio.com/docs/extensionAPI/vscode-api#MarkdownString - https://github.com/Microsoft/vscode/blob/2da0f2215f3b41761b0b472d41d494e5c1de1897/src/vs/base/common/htmlContent.ts#L35-L42

I'm having a hard tim

[2018-03-18 11:27] m90 commented on #101
Understood how it works, the Go extension specifies `^1.17.0` which does not support the API yet. When I up the version in the extension's package.json and re-install it shows up.

[2018-03-18 11:27] #101 closed

[2018-03-20 15:32] bpasero commented on #100
Published a `1.1.14`.

[2018-03-20 15:44] DanTup commented on #100
@bpasero Awesome, thanks for the quick turnaround again! 👍

[2018-03-20 15:46] DanTup commented on #100
Checked AppVeyor logs and indeed it's only downloading the first time now - two downloads (stable + insiders) instead of 10 :-)

[2018-03-20 15:51] bpasero commented on #100
@DanTup great, thanks for fixing and verifying.

[2018-04-05 07:05] DanTup opened #104 "Something appears to mess with PATH on Travis Linux when running tests"
I pushed a repo to Travis that is just the TypeScript extension sample with a travis file that echos the `PATH` in the Travis script, the `npm test` script and then also inside the sample test. The values are different. Significantly, the path to `node` has been removed by the time we get into the tests. In my real project, this means my tests are failing because they use the DebugClient and pass

[2018-04-05 07:08] DanTup commented on #104
As a workaround, since I only need to spawn nodejs, I'm just passing `process.execPath` instead of "node" to the `DebugClient`.

[2018-04-18 20:38] arciisine opened #105 "Out of date vscode.d.ts"
The `vscode.d.ts` file in the repo is missing new extension features for setting/removing breakpoints. (https://github.com/Microsoft/vscode/issues/30096).

I'm not sure what the process is for pulling the latest `vscode.d.ts` from the vscode repository itself.

[2018-04-18 21:29] weinand commented on #105
@arciisine in your package.json set the "engines" > "vscode" attribute to the minimal version of VS Code that your extension should support. Then remove the node_modules folder and do an `npm install`. It will pull the correct version of `vscode.d.ts` from the VS Code repository.

[2018-04-18 21:29] #105 closed

[2018-04-19 06:48] weinand commented on #105
What version of vscode are you specifying in your package.json?

It is the "postinstall" npm script that loads the vscode.d.ts.
You can run it manually with `npm run postinstall` (after setting the version to 1.22).

Then run the "Reload Window" command inside VS Code so that it picks up the updated node module.

You said:

Yes, sure. I tried to explain how a specific version of `vscode.d.ts` is d

[2018-04-19 12:50] arciisine commented on #105
I must have misunderstood what you were indicating in the first reply (I was under the assumption you were asking me to remove the `vscode` npm module).  The post install script successfully pulled down the latest, must have missed a reload in conjunction with everything else changing.  Thanks again.

[2018-04-19 13:02] weinand commented on #105
Glad to hear that this now works for you.

[2018-04-27 07:14] dbaeumer opened #106 "Potential security vulnerability via hoek"
See https://github.com/Microsoft/vscode-languageserver-node/network/dependencies

I get this in vscode-languageserver-node which has a dependency on vscode which then via n levels has a dependency on hoek. Do we need to update something?

[2018-04-27 07:59] bpasero commented on #106
https://github.com/Microsoft/vscode/issues/48783

[2018-04-27 08:00] bpasero commented on #106
Actually lets close the other one as duplicate of this one.

[2018-04-27 08:00] bpasero commented on #106
This depends on https://github.com/request/request/issues/2926 which we depend on.

[2018-04-27 09:57] DanTup commented on #106
Based on [this comment](https://github.com/Microsoft/vscode/issues/48783#issue-318203997) it might be `gulp-remote-src` using an old version of `request` which results in an old version of `hoek`. I think the latest version of request depends on a version of `hoek` that is not vulnerable based on the comments in the related cases.

[2018-04-27 10:04] bpasero commented on #106
@DanTup I was assuming the security issue is for any hoek version < 5, which would mean even the latest request version does not fix it?

[2018-04-27 10:13] DanTup commented on #106
The fix was apparently ported back to the latest v4 release. Some comments at https://github.com/hapijs/hoek/issues/230#issuecomment-384805340 about it.

[2018-04-27 10:15] DanTup commented on #106
This looks like the fix in v4.2.1: https://github.com/hapijs/hoek/blob/v4.2.1/lib/index.js#L116-L118

[2018-04-27 10:45] DanTup commented on #106
Yeah, the CVE page still says that and I guess GH gets its data from there. Once that's fixed, I think `gulp-remote-src` will still need addressing though. I guess they'll have had an alert the same as us all though!

[2018-04-27 10:46] bpasero commented on #106
@DanTup it looks like `gulp-remote-src` is not compatible with latest `request`, so either they need to fix it or we have to move to another library for this.

[2018-04-27 10:52] DanTup commented on #106
Yeah. I've opened https://github.com/ddliu/gulp-remote-src/issues/16 to prompt them; though I suspect they had an alert from GH too.

[2018-04-27 10:56] bpasero commented on #106
@DanTup thanks

[2018-04-27 13:39] gwicksted commented on #106
Just an FYI that `hoek 4.2.1` has been deemed not vulnerable ([request comment](https://github.com/request/request/issues/2926#issuecomment-384906438)) so it looks like the request group is going with that version to keep node 4 compatibility.  Hopefully GitHub will detect that as a safe version instead of only `hoek ~> 5.0.3`.

[2018-05-02 08:49] joaomoreno commented on #106
@egamma pinged me about this, since there are extensions out there flagging up as having a security vulnerability.

I've created a PR for gulp-remote-src: https://github.com/ddliu/gulp-remote-src/pull/17. Let's hope they take it.

Meanwhile, I've also forked it with the fix, published it to npm as `gulp-remote-src-vscode` and updated `vscode` to depend on that instead of the official. I've pushed

[2018-05-02 09:46] bpasero commented on #106
Thanks, released `1.1.17` of vscode module.

[2018-05-02 09:46] #106 closed

[2018-05-02 20:48] Umoxfo opened #107 "Update gulp-untar"
`gulp-untar@0.0.6` has dependencies `gulp-util` which has been deprecated.

So, I suggest to update `gulp-untar@0.0.7` which only gulp-util was deleted.

[2018-05-03 04:58] bpasero commented on #107
PR welcome

[2018-05-03 14:06] peni4142 opened #109 "Languageserver CompletionItem Textedits are executed the wrong way round"
Hi I recognized that first executed additionalTextEdits, after that the textEdit is executed.

As example we have a textEdit:"mode" and additionalTextEdits:["Hello"]. The cursor is on the end of the line, so we can't add more range to additionalTextEdits.

If we have written mo of mode it will look like that:
=> moHelmode

Step by Step;
mo => moHello => moHelmode

My versions are all up to date. T

[2018-05-08 17:33] bpasero commented on #109
@dbaeumer not sure where this should go?

[2018-05-09 07:22] TqrHsn opened #110 "What is the right way to add icons to tree-view?"
Hi,

I am specifying icon for a TreeItem like this:

`public readonly iconPath = {`
            `light: path.join(__filename, '..', '..', 'resources', 'light', 'name_16x.svg'),`
            `dark: path.join(__filename, '..', '..', 'resources', 'dark', 'name_16x.svg')`
       ` }`

but when I debug the extension or package it and install the vsix. It does not show the icon. And I can see that resou

[2018-05-09 08:30] dbaeumer commented on #109
@bpasero will take care of it.

[2018-05-09 08:33] dbaeumer commented on #109
Dups https://github.com/Microsoft/language-server-protocol/issues/471

[2018-05-09 08:33] #109 closed

[2018-05-10 04:15] bpasero commented on #110
Please ask your question on [StackOverflow](https://aka.ms/vscodestackoverflow). We have a great community over [there](https://aka.ms/vscodestackoverflow). They have already answered thousands of questions and are happy to answer yours as well. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2018-05-10 04:15] #110 closed

[2018-05-17 08:57] egamma opened #112 "Update mocha dependency"
npm audit reports critical issue (see below) that can be addressed by updating the devDependency to the latest mocha version.
[code]

[2018-05-19 10:36] Borvik opened #113 "Property 'createWebviewPanel' does not exist on type 'typeof window'."
TypeScript is reporting this error.  While debugging, if I ignore the error it does appear to work.  So it looks like the API exists, but didn't make it to the typescript definition files.

Using:
Visual Studio Code: 1.23.1
Dev Dependency:
"vscode": "^1.1.17"

[2018-05-19 17:50] Borvik commented on #113
Follow-up:  It looks like the Webview may be a proposed API, and that may be the cause.

However, the documentation https://code.visualstudio.com/docs/extensions/webview does not really even hint at that, and by extension seems like it should be usable.

[2018-05-21 02:46] gregvanl commented on #113
Hi @Borvik createWebviewPanel is part of the stable API as of release 1.23 and available in the current version of vscode.d.ts. Perhaps you need to refresh your vscode npm module or review the "vscode" version in devDependencies.

[2018-05-21 09:57] #113 closed

[2018-05-21 10:02] Borvik commented on #113
Yup - can't believe I missed trying the refresh.  That took care of it.

[2018-05-23 09:43] bpasero commented on #112
Looks good to me now, probably mocha was updated:

![image](https://user-images.githubusercontent.com/900690/40416786-74e2f64a-5e7e-11e8-80ad-be2c99d06b67.png)

[2018-05-23 09:43] #112 closed

[2018-07-13 06:17] gohaterahul commented on #29
I am getting the same issue, when I am trying to browserify one of my extension file.
Could anyone please help me for this?

Thanks

[2018-07-18 11:33] peni4142 opened #114 "Auto-Completion in CDATA"
I am working on a extension for a xml-based-language. I get code-completion in CDATA-Blocks, which is very uncool. As example someone wants write "item" followed by a return and "Item" is already written before, than "item" will beome Item. So I tried follwing in the language-configuration.json:
[code]

My user-settings:
[code]

If the user is writing on a comment or CDATA-block the completion-ser

[2018-07-29 14:51] hediet commented on #58
Isn't this what npm's peer dependencies are used for? Instead of specifying "engines" rather have a peer-dependency to the "vscode"-package with corresponding version constraints.

[2018-08-04 15:27] bpasero commented on #114
This is not the right place to ask this, please post at https://stackoverflow.com/questions/tagged/visual-studio-code

[2018-08-04 15:27] #114 closed

[2018-08-16 17:38] octref opened #115 "Remove url-parse dependency"
For `vscode-languageserver-node`:

![image](https://user-images.githubusercontent.com/4033249/44224415-27f24300-a13f-11e8-8d47-abf64b729860.png)

I suggest that we remove `url-parse`, as it's not being used much anyway:

- You can check if the URL starts with `http` or `https` without the `url-parse` library: https://github.com/Microsoft/vscode-extension-vscode/blob/master/lib/shared.ts#L32-L38. A

[2018-08-17 04:44] bpasero commented on #115
Closing as invalid, you just need to use our latest version (see https://github.com/Microsoft/vscode-extension-vscode/commit/47f02ad0618869686599ddec6f4239dbce487802 where I updated that dependency).

[2018-08-17 04:44] #115 closed

[2018-09-07 11:05] gkalpak commented on #96
I just ran into this 😒 Quite unexpected behavior 😕

I assume it is not a high priority, since it has been open since March :grin:
Maybe at least [the docs][1] could be updated to mention that you need to clear `.vscode-test/` if you want `CODE_VERSION` to take effect.

##
That said, from a quick look at [bin/test][2] it looks like an easy fix (famous last words :grin:).
I'd be happy to work on it,

[2018-09-09 07:54] gkalpak commented on #96
BTW, the same is true for `CODE_DOWNLOAD_URL`. It is only used if there is not version already present in `.vscode-test/`.

[2018-09-10 16:26] gkalpak commented on #96
If anyone is interested, [this is the script][1] I currently use to handle testing against a specific version. It seems to work fine so far (on Windows, Linux, and macOS ✌️), but still use at your own rist :grin:

<sub>(For more context on how I am using it, this is the whole commit: gkalpak/aio-docs-utils@c1ee381a4)</sub>

[1]: https://github.com/gkalpak/aio-docs-utils/blob/1dd387d1e902efb14b37fd

[2018-10-10 10:45] sstone1 opened #118 "Test command always seems to download 32-bit version on Windows"
[code]

How do we configure it to pull the 64-bit version?

[2018-10-10 14:35] bpasero commented on #118
@sstone1 one way around it is to configure the absolute download URL via the `process.env.CODE_DOWNLOAD_URL` environment variable.

[2018-10-11 10:52] sstone1 commented on #118
Thanks @bpasero! Confirmed that setting the following environment variable works for me:

`CODE_DOWNLOAD_URL: https://vscode-update.azurewebsites.net/1.28.0/win32-x64-archive/stable`

[2018-10-29 15:35] caroline-church opened #119 "multiroot workspace selects wrong folder when debug"
I have created a new debug configuration provider. When i test my extension if i have two folders open and have a launch configuration in each. If i open the first launch configuration and press f5 to debug and set a break point in my debug configuration provider i can see that it sets the folder parameter to be the other folder

[2018-10-29 16:44] bpasero commented on #119
Can you report to https://github.com/Microsoft/vscode/

[2018-10-29 16:44] #119 closed

[2018-11-02 01:43] tdyas opened #120 "Vendoring vscode.d.ts in an extension"
My company has an internal extension for which we would like to avoid the dependency on downloading the `vscode.d.ts` file each time we build the extension (especially for CI). Is there a suggested way of vendoring this file?

It looks like that https://github.com/Microsoft/vscode-extension-vscode/blob/master/bin/install will always download `vscode.d.ts`. Would this script be an appropriate place

[2018-11-05 17:29] JonnyBoy333 opened #121 "canPickMany Missing In QuickPickOptions Interface"
It appears that the `canPickMany` property is missing in the `QuickPickOptions` interface when calling the `showQuickPick` method.

On a related note, the call signature for the `showQuickPick` method is `string | undefined`, but if you set the `showQuickPick` option to `true` the call signature should change to `string[] | undefined`.

[2018-11-05 17:45] JonnyBoy333 commented on #121
Sorry, I see in vscode master these changes have been made, I must have an old version.

[2018-11-05 17:45] #121 closed

[2018-11-06 07:29] octref opened #122 "Reduce dependency size"
[code]

Can we possibly reduce the dependency size? For any extension with CI, this is downloaded for each commit they push.

One idea is to split the test script and its dependencies into another module such as `vscode-test`.

[2018-11-06 16:42] TristanFAURE commented on #93
I'm also interested as we are downloading our dependencies using artifactory.
Most of the libraries we use provide env vars to set mirror download

[2018-11-06 22:42] danmarshall commented on #120
Here's what I did:
1. copied `vscode.d.ts` from `node_modules/vscode` to `src/`
1. check this in
1. removed `"postinstall": "node ./node_modules/vscode/bin/install",` from `package.json`

[2018-11-06 22:51] ramya-rao-a opened #123 "Remove gulp-symdest dependency"
The vscode package depends on the below 2 packages which use an older version of `vinyl-fs` which in turn has the bad dependency `randomatic` down the rabbit hole
- `gulp-symdest` (This is marked as deprecated)
- `gulp-vinyl-zip`

cc @joaomoreno as you are listed as contributor for both the above packages

[2018-11-09 21:54] tdyas commented on #120
That worked. Thanks!

[2018-11-09 21:54] #120 closed

[2018-11-09 22:53] busticated opened #124 "add flag / env var to enable downloading and unzipping to `.vscode-test` without running tests..."
currently the `bin/test` script will download and unzip the vscode executable - creating the `.vscode-test` directory within your project - then attempt to run tests ([code](https://github.com/Microsoft/vscode-extension-vscode/blob/b4e20e2bed488f6a52dcef7c35131f08d5ba3ecf/bin/test#L146)).

it'd be helpful if there was a way to disable running tests and instead only do the steps required to get a l

[2018-11-09 23:06] busticated commented on #124
related conversation over here 👉 https://vscode-dev-community.slack.com/archives/C74CB59NE/p1541799580061400

[2018-11-09 23:09] busticated commented on #124
somewhat related to https://github.com/Microsoft/vscode-extension-vscode/pull/111 since the steps you need in order to run tests when your extension has a hard dependency on a 3rd party extension are:

1. install `.vscode-test` bits (local copy of `code`)
2. install 3rd party extensions
3. run tests

currently, you can't execute step 2 without first executing step 1 but there's no way to execute s

[2018-11-09 23:14] busticated commented on #124
i'd be happy to make a PR if that's helpful 👍

[2018-11-12 09:07] joaomoreno commented on #123
Let's drop `gulp-symdest`. I've published `gulp-vinyl-zip@2.1.1` which uses latest `vinyl-fs`.

[2018-11-12 19:32] ramya-rao-a commented on #123
cc @bpasero

[2018-11-13 08:46] joaomoreno commented on #123
@ramya-rao-a, @bpasero is out on vacation, he'll check once he's back.

[2018-11-19 05:53] bpasero commented on #123
@joaomoreno what are the steps here for the module? Drop `gulp-symdest` in favour of `gulp-vinyl-zip` and bump `gulp-vinyl-zip` to your published version? Does that version have the functionality of `gulp-symdest`?

[2018-11-19 06:02] bpasero commented on #122
@octref I would expect a much larger `node_modules` folder actually, given there is a `devDependency` to typescript which ways 35MB on my machine. Can you check if you got that too? Or did you exclude any other dependency?

@dbaeumer can you help me again, we seem to put a devDependency to typescript into the code extension generator ([here](https://github.com/Microsoft/vscode-generator-code/blob/

[2018-11-19 07:35] joaomoreno commented on #123
I believe you can replace `gulp-symdest` with the latest `vinyl-fs` module, as per the deprecation message in https://github.com/joaomoreno/gulp-symdest.

As for `gulp-vinyl-zip`, yeah just bump it.

[2018-11-19 10:40] dbaeumer commented on #122
@bpasero we should definitely bump that yo 3.x. The reason is that when we publish we can build beforehand (in the npm script) which calls the local installed typescript compiler.

[2018-11-19 10:40] dbaeumer commented on #122
We can rethink if this is something we want to do.

[2018-11-19 11:50] bpasero commented on #122
Ok I can do this in the generator when I find time.

[2018-11-19 18:34] octref commented on #122
@bpasero The default behavior of `npm i vscode` is to pull dependencies of `vscode`, not `devDependencies`. So your local dev-version of vscode would have `node_modules/typescript`, but someone installing `vscode` won't get it.

@bpasero I'm planning to make it simpler to get started with the generator. I can include updating TypeScript in my PR too.

![image](https://user-images.githubusercontent

[2018-11-20 05:42] bpasero commented on #122
@octref I know that but the generator produces a `devDependency` onto TypeScript as well which gets installed on the CI machines, no?

[2018-11-20 06:54] octref commented on #122
@bpasero I get your points now — `typescript` is the large deps so removing deps from `vscode` won't help much.

However my use cases are:
1. Our samples at https://github.com/Microsoft/vscode-extension-samples, probably only 10% of them use the test scripts
2. JS based extensions, like https://github.com/Microsoft/vscode-extension-samples/tree/master/hellocode-minimal-sample
3. Some of my extensi

[2018-11-20 09:00] bpasero commented on #122
Yeah, my thinking as well.

[2018-11-20 18:57] octref commented on #122
OK closing this. My case is similar to https://github.com/Microsoft/vscode-extension-vscode/issues/120. I guess I can write a simple cli module like `vscode-dts`, so you can run things like:

[code]

[2018-11-20 18:57] #122 closed

[2018-11-21 18:53] kondratyev-nv opened #125 "Support more mocha options"
Mocha has a lot of useful [options](https://mochajs.org/api/mocha) that are not supported in [testrunner.d.ts](https://github.com/Microsoft/vscode-extension-vscode/blob/b4e20e2bed488f6a52dcef7c35131f08d5ba3ecf/lib/testrunner.d.ts). For example, `reporterOptions`.

[2018-11-26 18:23] kdvolder opened #127 "vscode npm dependency broken: No valid versions available for flatmap-stream"
As of this morning all our vscode extension no longer build. Looks like some dependency changes are the cause. I think a dependency called 'flatmap-stream@0.1.0' was deleted from npm registry. At least, its page returns 404.

https://www.npmjs.com/package/flatmap-stream/v/0.1.0

This dependency is somehow coming into our builds via our dependency on the vscode module.

You can reproduce the proble

[2018-11-27 00:49] mamodom opened #126 "Security vulnerability"
See https://github.com/dominictarr/event-stream/issues/116

[code]

There are pull requests pinning `event-stream` to 3.3.4

https://github.com/ddliu/gulp-remote-src/pull/18
https://github.com/joaomoreno/gulp-symdest/pull/2
https://github.com/jmerrifield/gulp-untar/pull/15
https://github.com/joaomoreno/gulp-vinyl-zip/pull/13

[2018-11-27 04:49] roonyh commented on #126
`gulp-remote-src-vscode` is still not updated. I think its fork of `gulp-remote-src`? `gulp-remote-src` is now updated.
Please update it if possible.

[2018-11-27 12:11] mamodom commented on #126
You're absolutely right @roonyh here's the fork that publishes to [`gulp-remote-src-vscode`](https://www.npmjs.com/package/gulp-remote-src-vscode) https://github.com/joaomoreno/gulp-remote-src

@joaomoreno should update the repo's repository field so thtat npm links to the correct package

[2018-11-27 12:22] mamodom commented on #126
Here's the actual repository: https://github.com/joaomoreno/gulp-remote-src @joaomoreno  already pinned the version. I opened a pr updating its repository url so that it's clear where's the source code of that package

[2018-11-27 14:16] antmak commented on #127
If VSCode was built with  the malicious version of event-stream/flatmap-stream, can it steal my local Copay wallet?

[2018-11-27 14:46] bpasero commented on #127
See https://code.visualstudio.com/blogs/2018/11/26/event-stream

[2018-11-27 15:03] #127 closed

[2018-11-27 15:03] bpasero commented on #126
See https://code.visualstudio.com/blogs/2018/11/26/event-stream

We have meanwhile published `vscode@1.1.22`. To ensure your extension is using this extension, run `npm i vscode`. That should also update the `package-lock.json`.

[2018-11-27 15:03] #126 closed

[2018-11-30 15:07] ruslan-bikkinin opened #128 "1.22 is still vulnerable to event-stream vulnerability"
1.22 is still depend on vulnerable `gulp-untar@0.0.7`, though the fixed version is 0.0.8.

https://github.com/Microsoft/vscode-extension-vscode/blob/master/package-lock.json#L797
https://github.com/Microsoft/vscode-extension-vscode/blob/master/package-lock.json#L801
[code]

Fix in `gulp-untar`: https://github.com/jmerrifield/gulp-untar/commit/5e6d136a99b47302feaf2b67ba70d0d2b68b2780

Commit histor

[2018-12-04 11:10] bpasero commented on #123
[code]

[2018-12-04 11:10] bpasero commented on #128
~/development/vscode-extension-vscode> git describe --tags
1.1.23
~/development/vscode-extension-vscode> npm audit

                       === npm audit security report ===

found 0 vulnerabilities
 in 893 scanned packages

[2018-12-04 11:10] #128 closed

[2018-12-04 19:14] ramya-rao-a commented on #123
@bpasero `gulp-symdest` is still being used as per the package.json file

[2018-12-05 05:49] bpasero commented on #123
@ramya-rao-a can you enlighten me how neither NPM nor GitHub report that dependency as a security issue but you think it is?

[2018-12-05 09:20] bpasero commented on #123
No worries, reopening to remove that library 👍

[2018-12-05 14:40] bpasero commented on #123
`gulp-symdest` is gone in favour of `vinyl-fs`.

[2018-12-08 23:43] jbockle opened #129 "typings regression"
appears to be a typing regression with latest version, the typing does not have ProgressLocation.Notification

[2018-12-10 05:45] bpasero commented on #129
@jbockle are you sure your extension depends on the right version of VSCode where this is in? You can run "yo code" to generate a typescript extension with the right configuration to compare with from the package.json

[2018-12-24 12:51] kumarharsh opened #130 "Missing typings for latest vscode-languageclient"
The latest vscode-languageclient (5.2.1) uses some api like `DefinitionLink` and `code.FoldingRange[]` which the latest vscode typings (1.1.26) don't expose.

[2019-01-02 09:13] amazingguni opened #132 "Failed to get code binary when testing in environment that needs to use strictSSL:false"
Failed to get code binary when testing in environment that needs to use strictSSL:false

[code]

[2019-01-02 09:54] #129 closed

[2019-01-04 07:42] chrisjsewell opened #134 "Extension tests not found on Azure Pipeline"
I have an extension, initially created using the standard `yo code` template, and successfully uploaded to the market place. I have created a test suite, which works correctly when running locally (i.e. pressing F5), and I now wanted to add CI testing to the [Github repo](https://github.com/chrisjsewell/vscode-moose).

I followed the instructions on [Continuous Integration](https://code.visualstud

[2019-01-07 10:55] dbaeumer commented on #130
@kumarharsh these typings are in the vscode.d.ts version `^1.30`. If you already have an extension using the lsp client then you need to run `npm run postinstall` after updating the vscode engine field to `1.30`:
[code]

[2019-01-07 10:55] #130 closed

[2019-01-07 14:15] kumarharsh commented on #130
Thanks for the explanation @dbaeumer. I am a little confused how updating the engine would update the vscode version, when the latest version published on npm is still 1.1.26 (https://www.npmjs.com/package/vscode)

[2019-01-08 09:17] dbaeumer commented on #130
You need to update the engine and run `npm run postinstall`. This script fetches the typings according to the engine field from GitHub.

[2019-01-09 09:34] peni4142 opened #135 "Missing error messages for bad setup"
#### set CODE_TESTS_PATH=D:\\not\\the\\path\\to\\extension &  node .\node_modules\vscode\bin\test

Pointing to the wrong directories (extension and tests) will just return Error: Exited with code 1. Took me some hours to make that problem out in an Azure DevOps environment.

An maybe use the path module from node.js to nomralize that. So there is not that much extra work to test in a different env

[2019-01-10 10:27] SounD120 opened #136 "Add functionality to change locale in VS Code test instance"
Hello. I am from [vscode-react-native](https://github.com/Microsoft/vscode-react-native). Recently we have implemented extension localization via [vscode-nls](https://github.com/Microsoft/vscode-nls) and [vscode-nls-dev](https://github.com/Microsoft/vscode-nls-dev) npm packages, and now we want to cover it with tests. Standard `test` script doesn't contain functionality to change locale in the tes

[2019-01-10 11:06] bpasero commented on #136
Adding @dbaeumer, I think the `--locale` switch should work even in extension tests if I am not mistaken.

[2019-01-11 09:16] dbaeumer commented on #136
The `--locale` switch will work for VS Code and if a Russian language pack is installed it should respect this. It might be different for your extension. The JS code needs to be compiled for production (the JS rewriting needs to have taken place). Otherwise the JS code you are executing during test will not respect the locale setting.

[2019-01-16 09:04] dbaeumer commented on #136
The JS rewriting happens via the gulp tasks provided from `vscode-nls-dev`. I looked at your reprository and the `build` gulp tasks seems to do this. So all necessary translation files will be created.

When you start VS Code in the tests with a --locale param and an installed language pack for that locale will it come up in that locale?

[2019-01-16 13:39] peni4142 opened #137 "Servers(child processes) are cashing"
It seems that the child process server seems to crash. LanguageServer as well as own server. But again no error messages...
But I did get some screenshots before closing

![servercrahs](https://user-images.githubusercontent.com/33463108/51252403-04585080-199c-11e9-980f-c234e05d1e6d.jpg)
![servercrahsmessages](https://user-images.githubusercontent.com/33463108/51252404-04f0e700-199c-11e9-8af8-187e5

[2019-01-16 15:15] peni4142 commented on #137
Since a wrong line had sneaked in. It is not an error with your module
SRY!
I think you can close that...

[2019-01-16 15:15] #137 closed

[2019-01-18 10:24] SounD120 commented on #136
@bpasero , @dbaeumer As we understand the VS Code localization mechanism, it doesn't matter if we have installed language pack for the extensions localized with `vscode-nls` or not. Localization works if we run `code --locale=ru` locally, but if we try to apply `--locale` parameter in CI it is not, so we actually don't know how to switch VS Code language with [test script](https://github.com/Micro

[2019-01-18 10:32] bpasero commented on #136
@SounD120 how about a PR to fix the issue for everyone if it works for you?

[2019-01-18 10:36] SounD120 commented on #136
@bpasero The problem is that it is **not** work for us.

[2019-01-18 10:38] bpasero commented on #136
Oh ok, your wording made it sound as if it was working.

[2019-01-18 10:56] ruslan-bikkinin commented on #136
@bpasero summarizing all things:
* test script doesn't provide an option to run extension tests under the VS Code instance with another locale
* [possible fix](https://github.com/SounD120/vscode-react-native/blob/d1bb7f9ff4edcd548a539a2c0d9c7c965a3ec020/tools/test1#L64) for it doesn't work for us for some reason

So we are asking for help to get it work for us.

[2019-01-18 11:07] bpasero commented on #136
@ruslan-bikkinin I still think the change to the `test` file would be valuable so that the `--locale` is passed to the instance. For example with the following steps I am able to bring up a test instance in german locale (for VSCode at least):
* install the german language pack in the instance of VSCode that the test script is downloading
* add `--locale=de` to the arguments in the `test` file
* r

[2019-01-21 02:26] wiener0zyj opened #138 "vscode-install failed for vscode module"
- VSCode Version: 1.31.0(insider)
- OS Version: Win10

Steps to Reproduce:

1. run npm install for the configuration "postinstall": "vscode-install && node ./node_modules/vscode/bin/install"

2. get the error:
Error installing vscode.d.ts: Error: read ECONNRESET
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! lispvsext@0.0.1 postinstall: `vscode-install && node ./node_modules/vscode/bin/install

[2019-01-21 08:31] dbaeumer commented on #136
In @SounD120 case the localization are bundled with the extension since the are not part of the core VS drop and therefore not part of the language packs. So IMO if the test instance starts in German locale and the extension is compiled for productions (produces localization files) and has a German translation the strings should show up in German.

[2019-01-21 09:30] bpasero commented on #136
@SounD120 is that true?

[2019-01-21 09:39] SounD120 commented on #136
@bpasero , @dbaeumer I sent you a direct email with the details.

[2019-01-21 10:52] bpasero commented on #138
This sounds like an issue with your internet connection ("ECONNRESET") and not VSCode. I suggest you look into that.

[2019-01-21 10:52] #138 closed

[2019-01-21 13:38] SounD120 commented on #136
@bpasero , @dbaeumer Thanks a lot for your help, guys. We found the way to solve our issue, so I proposed a PR that adds locale switching functionality to `test` script

[2019-01-21 14:54] #136 closed

[2019-01-21 15:02] SounD120 commented on #136
@bpasero Could you please clarify when the new version of the package will be released?

[2019-01-21 15:06] bpasero commented on #132
Fixed via https://github.com/Microsoft/vscode-extension-vscode/commit/e05bf6a07da56b597c9f371efaebe03044f60950

[2019-01-21 15:06] #132 closed

[2019-01-21 15:08] bpasero commented on #135
This should work a lot better with my fixes in https://github.com/Microsoft/vscode/commit/42d0a188fce105d30c7a4388c6415c2e3183f375#diff-c61682f360a18cf690ac59fe3f625db7

[2019-01-21 15:08] #135 closed

[2019-01-21 15:12] bpasero commented on #136
@SounD120 I just released `1.1.27`

[2019-01-22 02:07] wiener0zyj commented on #138
Maybe, I am in china, I just tried to create an ECS machine in american. and run "npm install". It success. the output is as following:
[code]
And my local machine in china always get this failure:
[code]

could you confirm this is a network error, and do I have any way to solve this problem?

[2019-01-22 02:08] wiener0zyj commented on #138
@bpasero please

[2019-01-22 20:51] busticated opened #140 "Install `preview` Version of Extension?.."
hey there :wave:

i'm developing an extension which depends on a handful of _other_ extensions (expressed via the `extensionDependencies` field in my manifest / `package.json` file). it seems we are limited to only installing the most-recent, non-preview version of these extensions when installing via the `code` cli - e.g.

[code]

upon running the command shown above, i see:

[code]

when i `ls`

[2019-01-23 09:14] bpasero commented on #140
@sandy081 can you comment?

[2019-01-24 09:22] #125 closed

[2019-02-01 21:37] rberrelleza opened #143 "`node ./node_modules/vscode/bin/install` won't detect VSCode engine in ubuntu docker container"
When running  `npm install`  on my extension's folder, inside an ubutu18 docker container, I get the following output:
[code]

Running the install script directly results in the following:
[code]

My package.json looks like this:
[code]

This is on ubuntu 18, with node 11. The same command with the same package.json works fine on macos.

[2019-02-04 07:55] bpasero commented on #143
@rberrelleza does it reproduce from a hello world extensions created via `yo code`?

[2019-02-12 06:20] #143 closed

[2019-02-27 02:26] wiener0zyj commented on #138
@bpasero we have finally resolved the problem. the situation is:
IN CHINA
1. node v8.12.0 could not work, because "getURLMatchingEngine" failed with url "https://vscode-update.azurewebsites.net/api/releases/stable"
2. node v10.15.0 could work

IN AMERICAN
both node v8.12.0 and node v10.15.0 could work

[2019-03-01 13:15] roonyh opened #145 "Error installing vscode.d.ts: Error: Request returned status code: 500"
I get above error when doing `npm i`

When inspecting I noticed request to the following url fails.
https://vscode-update.azurewebsites.net/api/releases/stable

[2019-03-01 13:46] bpasero commented on #145
Duplicate of https://github.com/Microsoft/vscode/issues/69656

[2019-03-01 13:46] #145 closed

[2019-03-01 20:19] octref opened #147 "Split module into @types/vscode and vscode-test"
Per the recent incidents (https://github.com/Microsoft/vscode/issues/69656), I think it's a good opportunity for us to split `vscode` node modules into 2 pieces:

- `@types/vscode`
- `vscode-test`

### Explanation

`vscode` node module contains 3 scripts:

- `compile`: no longer used
- `install`: used to fetch `vscode.d.ts` according to `engine.vscode` in `package.json`
- `test`: used for extensio

[2019-03-01 21:52] AnanyaJha opened #146 "Run VSCode Integration Tests through typescript files"
We currently use Mocha to run all of our tests through the out/ folder within our repository. We want to switch to using ts-node in conjunction with mocha so that we can run the tests and collect coverage information (with NYC) through the typescript files, rather than compiled javscript. This works fine for unit tests, but it doesn't seem to work with vscode-integration tests. I believe due to th

[2019-03-02 07:20] bpasero commented on #147
@octref if you want progress on this, feel free to look into it. I will not have cycles to work on this task for the next 6 months 👍

[2019-03-02 09:59] bpasero commented on #147
@octref wanna do some PRs on this? E.g. the download part?

[2019-03-02 22:18] octref commented on #147
@bpasero Sure.

[2019-03-06 05:50] meeech commented on #44
To add to this for others: I solved this by emptying my token temporarily (rather than generating a new one): `GITHUB_TOKEN="" npm i` did the trick.

[2019-03-12 21:28] octref commented on #93
You might be interested in https://github.com/Microsoft/vscode/issues/70175.

[2019-03-13 21:29] octref commented on #93
This is now possible through dropping `vscode` dependency and only pull types from `@types/vscode`: https://www.npmjs.com/package/@types/vscode.

We are on 1.14 now and by end of this month we should have dts up to 1.32.

[2019-03-13 21:29] #93 closed

[2019-03-15 21:34] octref opened #149 "Can this module point to microsoft/vscode?"
Ref: https://github.com/Microsoft/vscode/issues/70175

When I'm publishing `@types/vscode`, the linter would fail if I use microsoft/vscode as the project: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/vscode/index.d.ts#L2

Because `@types/vscode` has to point to the same project that `vscode` points to.

[2019-03-17 07:33] bpasero commented on #149
@octref sorry I cannot follow, what is this about?

[2019-03-17 07:33] bpasero opened #150 "Switch to yarn instead of npm"
We should consider to switch to yarn for this module, as we did with our other modules. I am just not sure about the implications for extensions that still use NPM when installing.

Maybe @octref and @joaomoreno could chime in.

[2019-03-17 11:54] heaths opened #151 "Pass mocha options for easier CI test reports"
Based on https://code.visualstudio.com/api/working-with-extensions/continuous-integration, we have to run `npm run test` so that VSCode properly initializes and runs mocha. Now, we can already customize mocha via, for example, _src/test/index.ts_, but without checking `process.env` or via some other means, we cannot easily have our CI system produce tests that can be uploaded to, say, Azure Pipeli

[2019-03-17 15:45] octref commented on #149
- I'm starting to publish `@types/vscode` as the way to get `vscode.d.ts`
- The workflow becomes `yarn add @types/vscode` to get `vscode.d.ts` to`node_modules/@types/vscode/index.d.ts`
- To publish `vscode.d.ts` to DefinitelyTyped, https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/vscode/index.d.ts#L2, `@types/vscode` has to point to the same "project" as the one referred by `vs

[2019-03-17 15:58] octref commented on #150
- Yarn Question: https://github.com/yarnpkg/yarn/issues/3322
- Yarn Behavior: https://yarnpkg.com/blog/2016/11/24/lockfiles-for-all/#libraries-vs-applications and https://yarnpkg.com/lang/en/docs/yarn-lock/#toc-check-into-source-control
- NPM Question: https://github.com/npm/npm/issues/19458
- NPM Behavior: https://docs.npmjs.com/files/package-lock.json#description

It's by design that npm/yarn on

[2019-03-17 17:40] bpasero commented on #150
@octref and we probably need to keep the package.lock.json around as well right?

[2019-03-17 17:41] bpasero commented on #149
@octref oh I see, if you make a PR that I can review I can maybe argue better, but I think that should not be a problematic change.

[2019-03-19 07:01] #150 closed

[2019-03-19 07:02] #149 closed

[2019-03-20 04:17] octref opened #154 "Remove lib/shared and update install script"
Part of https://github.com/Microsoft/vscode-extension-vscode/pull/148#issuecomment-473177660. Remove request / url-parse library for minimal dependency.

[2019-03-20 05:11] octref commented on #96
This is fixed by https://github.com/Microsoft/vscode-extension-vscode/pull/148.

Now VS Code is downloaded to `.vscode-test/vscode-1.32` when you run `yarn test`. When 1.33 is released, new versions will be downloaded to `.vscode-test/vscode-1.33` and used for running tests.

For more granular control, use `vscode-test` directly instead of relying on `vscode`: https://github.com/microsoft/vscode-t

[2019-03-20 05:11] #96 closed

[2019-03-20 05:18] octref commented on #124
This is now available through https://github.com/microsoft/vscode-test.

See https://github.com/octref/vscode-test-sample for sample usage.

[2019-03-20 05:18] #124 closed

[2019-03-20 08:48] gkalpak commented on #96
Thx for working on this, @octref 👍
I spotted some issues and submitted fixes in #155 and Microsoft/vscode-test#1.

[2019-03-20 08:59] DanTup commented on #96
@octref I think all the code referencing `testRunFolderAbsolute` may be dead now and should be removed? If I'm reading the code correctly, this `console.log` looks suspicious:

[code]

AFAICT `downloadAndUnzipVSCode` does its own calculation of the download folder (including the version number) and `testRunFolderAbsolute` is the old path (ending in stable, or w/e)?

[2019-03-20 09:02] DanTup commented on #96
Actually, maybe it's deliberate, since the "old" `runTests` method is still used:

[code]

It's not clear why, though I guess probably it's intended. I'll try switch over to using the package directly, as I already have a script for running my tests (but was shelling out to the old script). Hopefully this will simplify things :-)

[2019-03-20 20:06] heaths opened #156 "Current working directory inconsistent across platforms"
When running `node node_modules/VSCode/bin/test` with reporter options to save a file for subsequent upload (see #151 for context), I'm finding that the current working directory is inconsistent. In my _src/test/index.ts_ I have something like this:

[code]

On Windows, this file ends up in _.vscode-test\stable\test-results.xml_. On Linux (and I presume MacOS, since Azure DevOps is reporting durin

[2019-03-25 03:20] octref opened #157 "Move test runner to `vscode-test`"
For this I want to upgrade to mocha@6. We can still provide the old testrunner as `mocha4TestRunner`).

I want to fix https://github.com/Microsoft/vscode/issues/56211 too.

[2019-03-25 03:33] octref commented on #147
In the end I chose `@types/vscode` since it could have easy-to-follow versioning (`@types/vscode` 1.X corresponds to VS Code 1.X release). With `vscode` it would be a breaking change and the module would be 2.X.

- `@types/vscode` 1.14 - 1.32 are published.
- https://github.com/microsoft/vscode-test and https://github.com/octref/vscode-test-sample are published. `vscode` module is now using `vscod

[2019-03-25 03:33] #147 closed

[2019-03-25 06:48] bpasero commented on #147
@octref would it make sense to use https://github.com/Microsoft/node-request-light ?

//cc @aeschli

[2019-03-25 15:24] octref commented on #147
I picked those dependencies because we use them in the product, too: https://github.com/Microsoft/vscode/blob/81a7dff142ee901daf6e17c2b7b1d6391c634717/package.json#L32-L33

[2019-03-25 15:32] bpasero commented on #147
@octref ok got it, I somehow thought someone in the team mentioned during standup that there is another option for dependencies.

[2019-04-01 12:51] umdstu commented on #143
Just found this after hitting the issue myself. During a new extension generation (yo code)- the setup failed because that environment does not have connection to the internet. And because the typings file is only acessible via a github raw URL, rather than a repository like npm, the fetch returns a 404 and fails the rest.

So while debugging this I decided to re-run the install node ./node_module

[2019-04-01 12:52] umdstu commented on #143
@bpasero ^ (edit link not working for me, sorry)

[2019-04-15 11:05] cazfletch commented on #118
This is no longer working in version 1.1.33, is there another work around as we need this functionality for our travis builds. I can't stay at the older version as npm audit now fails

[2019-04-15 13:15] sstone1 commented on #118
@octref are you able to assist - it looks like your recent changes removed the `CODE_DOWNLOAD_URL` environment variable?

[2019-04-20 16:23] Octillerysnacker opened #158 "Unable to use local URIs with vscode-resource"
Version: 1.33.1 (user setup)
Commit: 51b0b28134d51361cf996d2f0a1c698247aeabd8
Date: 2019-04-11T08:27:14.102Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

I have a simple extension project structured like so:
![image](https://user-images.githubusercontent.com/7697688/56459711-40190280-635d-11e9-8101-cfc55906ec25.png)

I am trying to create a We

[2019-04-22 16:27] bpasero commented on #158
In the future, please post questions over at StackOverflow where we have a large community of VSCode users: https://stackoverflow.com/questions/tagged/visual-studio-code. Thanks!

[2019-04-22 16:27] #158 closed

[2019-05-10 20:31] busticated opened #159 "Local VSCode No Longer Installed as `stable`..."
hi there :wave:

it seems a recent change has caused the local `vscode` dependency to no longer be installed within a `stable` directory.

after running `npm i`, the `vscode` dependency used to download and unpack a local copy of the VSCode app here:

[code]

now it places it in a versioned directory like:

[code]

_note that instead of placing it within a `stable` directory, it now places it with

[2019-05-10 20:42] busticated commented on #159
fwiw, it looks like the most-recent install that came down into the `stable` directory was `v1.30.2`

from my ubuntu box i ran:

[code]

which returned:

[code]

after running `npm i` and then `ls ./packages/particle-vscode-core/.vscode-test/`, i see:

[code]

but obviously `stable` is just a left-over from before the change - if i remove it, it's not re-installed

[2019-05-11 04:48] octref commented on #159
Nope, that's only downloaded after running the integration test script.

Well, I don't think we ever made any promise as to which directory the binary will be downloaded to.

You can use [vscode-test](https://github.com/Microsoft/vscode-test)'s API directly to get the executable path.

So your current choices are:

- Lock to the old version of `vscode` for now.
- Make your script depend on `vscode

[2019-05-11 04:48] #159 closed

[2019-05-11 21:25] busticated commented on #159
thanks @octref

ah, i see that now thanks. looking at the current logic, it seems like over time the `.vscode-test/` directory will steadily accumulate copies of the VSCode app (e.g. `vscode-1.33.1`, `vscode-1.33.2`, etc) - am i missing something? are those ever cleaned up?

sounds good :+1: are there any plans to automatically resolve `extensionDependencies` at test-time (or otherwise) or is the

[2019-05-11 21:56] octref commented on #159
Not really, but you can easily do that with `vscode-test` API:

[code]

[2019-05-11 22:22] busticated commented on #159
:+1: that's what i do today but with the addition of calling `downloadAndUnzipVSCode()` myself so i can know the exec path.

yep, pretty sure the default recommendation (and yeoman generator output) ignores `.vscode-test/` as i am currently.

i don't yet see the benefit of having multiple versions installed within `.vscode-test/`. naively, i would think by default you'd want to look at the current

[2019-05-12 21:16] octref commented on #159
`engines` only matter for launching the extension in VS Code now.

The default behavior is always to use latest released version with the following code:

[code]

[2019-05-24 00:17] octref commented on #157
No longer relevant after https://github.com/microsoft/vscode-extension-samples/pull/186. Everyone writes their own test runner following the new testing doc.

https://github.com/microsoft/vscode/issues/56211's root cause is https://github.com/microsoft/vscode/issues/74173.

[2019-05-24 00:17] #157 closed

[2019-05-29 11:02] bpasero commented on #151
@octref this probably should move to `vscode-test`.

[2019-05-29 11:03] bpasero commented on #156
Not sure this still hold true with our changes to `vscode-test`.

[2019-05-29 11:03] bpasero commented on #146
@octref this is possibly now with your work in `vscode-test`?

[2019-05-29 11:04] bpasero commented on #118
@octref maybe update if this is possible given your changes in `vscode-test`

[2019-05-29 11:05] bpasero commented on #104
Please reopen if you still see this once https://github.com/microsoft/vscode-docs/blob/vnext/release-notes/v1_35.md#splitting-vscode-package-into-typesvscode-and-vscode-test lands.

[2019-05-29 11:45] DanTup commented on #104
Will do!

BTW, it seems like both those new packages exist - is there anything stopping me migrating now? (I'm not sure what needs to land).

Thanks!

[2019-05-29 13:17] bpasero commented on #104
@octref can maybe comment

[2019-05-29 13:26] octref commented on #146
Not possible yet. Test runner can only be js for now.

[2019-05-29 13:39] octref commented on #151
https://github.com/microsoft/vscode-extension-samples/tree/master/helloworld-test-sample should give you enough flexibility to do it.

(Not released yet) [Release notes](https://github.com/microsoft/vscode-docs/blob/vnext/release-notes/v1_35.md#splitting-vscode-package-into-typesvscode-and-vscode-test) | [Docs](https://github.com/microsoft/vscode-docs/blob/vnext/api/working-with-extensions/testing

[2019-05-29 13:39] #151 closed

[2019-05-29 13:40] octref commented on #104
Go ahead and let me know issues you run into.

[2019-06-02 04:13] ShMcK commented on #145
Although the issue has been closed, the error is occuring for me.

[code]

Note that microsoft/vscode#69565 is closed for comment.

[2019-06-02 15:28] ShMcK commented on #145
Seems to be working this morning. All good.

[2019-06-05 07:34] DanTup commented on #104
@octref I noticed the info linked above has all been removed from the release notes:

https://github.com/microsoft/vscode-docs/commit/9402e03342e635ad5a972c1d6bf4d48408541fa4#diff-0ae46b9ea8531a6a66fe2ed2a836709a

Does this mean it's not safe to go ahead with migrating?

[2019-06-05 08:53] DanTup commented on #104
Scratch that, it seems to be working, so I've gone with it (though I'm curious why it was removed from release notes).

@bpasero the original issue here is still present on latest versions of everything and using that package.

It actually somewhat repros locally.. If I run `npm run test` using the repo I linked above, the `PATH` is different inside the tests to out. If you run `npm run test` it p

[2019-06-05 08:53] DanTup commented on #104
Here's the Travis log:

https://travis-ci.org/DanTup/vscode_extension_path_test/jobs/541626326

[2019-06-05 13:49] bpasero commented on #104
PR welcome, I will not have time to look into this.

[2019-06-05 13:49] bpasero commented on #104
@octref please decide if this should move into the `vscode-test` repository.

[2019-06-05 13:51] DanTup commented on #104
I'm not sure I'd know where to start looking - I can't come up with any explanation for what might be happening 🤷‍♂️

It's not critical, I've worked around it by just setting another env variable and then reading from it in the extension, but it's a little weird 🙃

[2019-06-05 13:57] bpasero commented on #104
Ok good to know there is a workaround. We can close this issue if no-one jumps on it in the next weeks.

[2019-06-20 09:29] SounD120 opened #161 "diff security vulnerability"
`mocha@4.*` contains `WS-2018-0590` security vulnerability that was found in [diff](https://www.npmjs.com/package/diff) subdependency. In `diff` version >= 3.5.0 this vulnerability was fixed. Due to this our extensions [vscode-react-native](https://github.com/microsoft/vscode-react-native) and [vscode-cordova](https://github.com/microsoft/vscode-cordova) are vulnerable. So I recommend to bump moch

[2019-06-25 10:38] SounD120 commented on #161
@octref , @bpasero , do you have a chance to look at this?

[2019-06-25 14:07] octref commented on #161
Let's track in https://github.com/microsoft/vscode/issues/75732.

[2019-06-25 14:07] #161 closed

[2019-06-26 22:14] octref commented on #161
You can upgrade to `vscode@1.1.35` now.

[2019-07-03 06:19] jerryc05 opened #162 "[REGEX] Non fixed-length lookbehind support"
I am writing a extension for language syntax highlighting, and I would like to use non fixed-length lookbehind regex like `(?<=void[ \t]+)\w+` to highlight function name, but it does not work. However, fixed-length lookbehind works. Is there any way to fix this, or any workarounds? Thx.

[2019-07-15 08:41] rhclayto commented on #143
Running this from the CLI worked for me:
[code]

[2019-07-15 15:40] octref commented on #143
With the new changes you don't need internet to start new extension: https://code.visualstudio.com/updates/v1_36#_splitting-vscode-package-into-typesvscode-and-vscodetest

Just do `yarn add @types/vscode@<VERSION>`, where version can be 1.34.0, 1.35.0, 1.36.0, etc.

[2019-08-14 17:34] dehru commented on #44
Thanks for the hints.  I generated a new github token and added it to my env and everything is working now.

It'd be nice if the error wasn't a 404...maybe a 403 would give a better clue, or something about the github token even better.

[2019-10-31 04:22] jbdoster opened #163 "Wrong node version for extension"
Issue:
[code]

Steps to reproduce:
1) remove node_modules folder in root of repo
2) nvm use 8.16.2
3) nvm alias default 8.16.2
4) restart vs-code
5) enter ```node -v``` stdout: ```v8.16.2```
6) enter ```npm install```
7) run extension
8) ```error```

When I check "About Visual Studio Code"
[code]

How can I solve this? Thank you!

[2019-10-31 05:57] bpasero commented on #163
Please ask in our community here: https://stackoverflow.com/questions/tagged/visual-studio-code

[2019-10-31 05:57] #163 closed

[2019-12-26 03:14] xianghongai commented on #138
[code]

[2020-01-17 09:27] Domiii opened #164 "[JS] eslint complains: "Unable to resolve path to module 'vscode'""
Hi!

I can debug my vscode extensions just fine; however my [vscode-eslint](https://github.com/microsoft/vscode-eslint) complains that `vscode` cannot be resolved when trying to `import`, e.g:

[code]

results in:

(NOTE: I'm using webpack)

## My setup

It's a recent setup; my `package.json` includes (amongst others):

[code]

(and yes: I cleared everything and `npm install`'ed several times)

##

[2020-01-17 11:27] vinodbk197 opened #165 "VSCodeInsider_DefaultSetting_AI4D:Name property does not exist for the edit filed."
**Environment Details:​**
VSCode Version: 1.42.0-insider (System setup)
OS Version: Win10

**Steps to Reproduce:**
1.Open VS Code insider
2.Navigate till "Extension" button and search for the "Visual Studio Online"
3.Click on "Visual Studio Online" and navigate till "Remote Explorer" ,click on it.
4.Navigate till "+" button beside the "VS ONLINE" control and click on it .
5.Select any existing env

[2020-01-17 11:40] vinodbk197 opened #166 "VSCodeInsider_DefaultSettingforNewEnvironment_AI4D: (Code - Insiders/combo box 'Type to narrow down results.') An element of the given ControlType must support the ExpandCollapse pattern."
**Application:** Code - Insiders has the following accessibility issue that needs investigation.

**Issue Details**
1.?Make sure the element has the appropriate ControlType property for its function. 2.?If the current ControlType is correct, modify the element to s...open attached A11y test file for full details.

**Element path:** combo box 'Type to narrow down results.'

To Reproduce and How to

[2020-01-20 09:52] gvrpraneeth opened #167 "Can extensions have control for hiding context menus like Add Logpoint.."
This is a question, not an issue

We are writing an vscode extension for debugging purpose
We would like to show 'Add Conditional Breakpoint' and 'Add Logpoint...' only on specific conditions
Can we achieve this
Please help

[2020-01-20 10:28] gvrpraneeth commented on #167
got the answer
https://github.com/microsoft/vscode/issues/88962

[2020-01-20 10:28] #167 closed

[2020-02-02 17:45] dillonthompson opened #168 "Failed to execute fetch TypeError: Cannot read property '0' of undefined"
Hi, I am running a MacBook Pro with 10.15.2. with the most recent version of VSCode and am attempting to build my first extension. I initially had issues installing the extension generator because I believe something was wrong with my npm.

I ran the following commands to fix that issue:

[code]

This seemed to work so I continued with installing the extension generator:

```npm install -g yo gene

[2020-02-03 06:57] bpasero commented on #168
@dillonthompson do you have a repository online with your extension code for me to reproduce this error?

[2020-02-03 07:00] bpasero commented on #164
I cannot reproduce, I suggest you do this:
* npm install generator-code
* yo code
* pick the JS extension
* set "yes" to enable ESLint

For me it seems to work fine.

[2020-02-03 18:12] dillonthompson commented on #168
@bpasero Here is the link to the repo: https://github.com/dillonthompson/green-light-testing

Thanks!

[2020-02-04 06:17] bpasero commented on #168
I am able to start the extension (in debug) and execute the "Hello World" command:

![image](https://user-images.githubusercontent.com/900690/73719009-5b9f9f00-471e-11ea-8f9b-48ec18bd54bc.png)

What are your steps to get this error?

[2020-02-04 11:38] peni4142 commented on #168
Maybe a permission problem? On Ubuntu I had to change the global node_modules location.

[2020-02-04 13:45] bpasero commented on #168
OK, so this sounds like a configuration issue on your OS. I have never seen this so far in other issues.

[2020-02-04 13:45] #168 closed

[2020-03-01 08:24] #164 closed

[2020-04-02 23:40] tsssp commented on #138
windows 10 64bit;
node 10.16.1;
npm 6.9.0

[2020-04-03 19:54] octref commented on #138
That error would indicate that you failed to connect to GitHub. Can you check if you are able to connect to https://raw.githubusercontent.com/Microsoft/vscode/7c66f58312b48ed8ca4e387ebd9ffe9605332caa/src/vs/vscode.d.ts?

[2020-04-23 18:24] #154 closed